:root {
  --letter-spacing-wide: 0.1em;
  --letter-spacing-reg: -0.005em;
  --letter-spacing-tight: -0.0125em;
  --letter-spacing-xtight: -0.02em;
  --line-height-xwide: 200%; /* Lists */
  --line-height-wide: 175%; /* Article text */
  --line-height-reg: 150%;
  --line-height-tight: 135%;
  --line-height-xtight: 120%;
  --font-size-sm: 0.875rem;
  --font-size-article: 18px;
  --para-gap-sm: 0.4375rem;
}
body {
  font-family: "ITC Franklin Gothic", system-ui, sans-serif;
  color: var(--color-text-primary);

  /* Set standard hover effect */
  & h2,
  & p,
  & span,
  & li {
    > a {
      transition: var(--transition-text-opacity);
      &:hover {
        opacity: var(--text-opacity-hovered);
      }
    }
  }

  & p {
    > a {
      text-decoration: underline;
      text-underline-offset: 1.5px;
      text-decoration-color: var(--color-border-secondary);
    }
  }
}

/* Links to RSS */
.rss {
  font-size: 12px;
}

.outbound,
.locked {
  &:after {
    opacity: 0.75;
    padding-left: 0.1rem;
    /* Use mask method for easier color-scheme/theme changes */
    /* As opposed to changing SVGs to partials in order to change their path fill */
    /* https://stackoverflow.com/a/73196514/2009441 */
    /* https://stackoverflow.com/a/42317014 */
    content: "";
    width: 12px;
    height: 12px;
    display: inline-block;
    mask-size: cover;
    /* Set dynamic 'fill' now that masking will respect a simple background-color */
    background-color: var(--color-text-primary);
  }
}
/* Outbound links */
.outbound {
  &:after {
    mask: url(/assets/images/arrow-se.svg) no-repeat 50% 50%;
  }

  &.rss {
    &:after {
      position: relative;
      top: 0.12rem;
    }
  }
}

/* Password-protected links like my portfolio */
.locked {
  &:after {
    mask: url(/assets/images/lock.svg) no-repeat 50% 50%;
    /* This always precedes the .outbound icon, so apply an optical negative margin for it */
    margin-right: -0.25rem;
  }
}
.small {
  text-transform: uppercase;
  font-feature-settings: "cpsp" 1;
  font-size: 12px;
  /* font-weight: 600;
  color: var(--color-text-secondary); */
  letter-spacing: var(--letter-spacing-wide);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  font-size: smaller;
}

sup {
  /* vertical-align: super; */
  /* Replacing vertical-align with the below since the former affects the line spacing */
  top: -0.4em;
  font-feature-settings: "sups" 1;
}

sub {
  /* vertical-align: sub; */
  /* Replacing vertical-align with the below since the former affects the line spacing */
  top: 0.4em;
  font-feature-settings: "subs" 1;
}
