// Custom
// Code
pre,
code,
p > code {
  font-family: monospace;
  font-size: 16px;
  // font-size: inherit;
}

pre {
  // white-space: pre-wrap;
  // background-color: var(--color-swatch-hero);
  // For long lines on mobile

  // -webkit-overflow-scrolling: touch;
  // overflow-x: scroll;
  // max-width: 100%;
}

code {
  // font-size: 1em;
}

p > code {
  // font-size: 16px;
  background-color: var(--color-swatch-hero);
  // Extend the background just slightly
  box-shadow: 0px 0px 0px 1px var(--color-swatch-hero);
}

/* PrismJS 1.28.0
https://prismjs.com/download.html#themes=prism */
// Begun overriding with custom CSS
code[class*="language-"],
pre[class*="language-"] {
  color: #000;
  background: 0 0;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  // TODO: allow for overflow-x: scroll. Revert to pre?
  white-space: pre-wrap;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  background: var(--color-swatch-hero);
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  background: var(--color-swatch-hero);
}

.article-content {
  width: 100%;
}

code {
  // overflow-x: scroll;
}

pre[class*="language-"] {
  padding: 1em;
  // Custom
  margin: 1.5rem 0;
  overflow-x: scroll;
  // overflow: scroll;
  // max-width: 100%;
  white-space: pre-wrap;
  display: block;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: var(--color-swatch-hero);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #708090;
}
.token.punctuation {
  color: #999;
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--color-text-code-tag);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string {
  color: #690;
}
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  color: #9a6e3a;
  background: var(--color-swatch-hero);
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}
.token.class-name,
.token.function {
  color: #dd4a68;
}
.token.important,
.token.regex,
.token.variable {
  color: #e90;
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: var(--color-swatch-hero);
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus {
  color: inherit;
  text-decoration: none;
}

// Style code language
// Ripped from https://learneleventyfromscratch.com/lesson/17.html#adding-an-rss-feed
// TODO: check the https://piccalil.li/quick-tip/dynamic-footer-copyright-date-in-eleventy/ version
pre {
  // So the ::before content can be placed absolute
  position: relative;
}
pre[class*="language-"]:before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: var(--color-text-secondary);
}

pre[class~="language-js"]:before {
  content: "js";
}

pre[class~="language-ts"]:before {
  content: "ts";
}

pre[class~="language-html"]:before {
  content: "html";
}

pre[class~="language-md"]:before {
  content: "md";
}

pre[class~="language-vue"]:before {
  content: "vue";
}

pre[class~="language-css"]:before {
  content: "css";
}

pre[class~="language-sass"]:before {
  content: "sass";
}

pre[class~="language-scss"]:before {
  content: "scss";
}

pre[class~="language-less"]:before {
  content: "less";
}

pre[class~="language-stylus"]:before {
  content: "stylus";
}

pre[class~="language-go"]:before {
  content: "go";
}

pre[class~="language-java"]:before {
  content: "java";
}

pre[class~="language-c"]:before {
  content: "c";
}

pre[class~="language-sh"]:before {
  content: "sh";
}

pre[class~="language-yaml"]:before {
  content: "yaml";
}

pre[class~="language-py"]:before {
  content: "py";
}

pre[class~="language-docker"]:before {
  content: "docker";
}

pre[class~="language-dockerfile"]:before {
  content: "dockerfile";
}

pre[class~="language-makefile"]:before {
  content: "makefile";
}

pre[class~="language-javascript"]:before {
  content: "js";
}

pre[class~="language-typescript"]:before {
  content: "ts";
}

pre[class~="language-markup"]:before {
  content: "html";
}

pre[class~="language-markdown"]:before {
  content: "md";
}

pre[class~="language-json"]:before {
  content: "json";
}

pre[class~="language-ruby"]:before {
  content: "rb";
}

pre[class~="language-python"]:before {
  content: "py";
}

pre[class~="language-bash"]:before {
  content: "sh";
}

pre[class~="language-php"]:before {
  content: "php";
}
