body {
  font-family: "ITC Franklin Gothic Std", franklin-gothic-urw, sans-serif;
}

strong {
  font-weight: 600;
}

p > a {
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--color-background);
  box-shadow: 0 0 0 1px var(--color-background);
  transition: box-shadow 100ms, background-color 100ms;
  // border-radius: 0.25px;

  &:hover {
    background-color: var(--color-hero);
    box-shadow: 0 0 0 2px var(--color-hero);
  }
}

// a:hover {
//   color: var(--color-spot);
// }
// /* Type */
// body {
//   color: var(--color-primary);
// }

p,
dt,
dd,
li {
  font-size: 18px;
  letter-spacing: calc(-1 * 18px * 0.008);
}

p {
  line-height: var(--line-height-p);
  margin-bottom: 1.5rem;
}

h1,
h2 {
  font-weight: 600;
  line-height: var(--line-height-h);
}

h1 {
  font-size: 32px;
  letter-spacing: calc(-1 * 32px * 0.015);
  line-height: 120%;
}

h2 {
  font-size: 21px;
  letter-spacing: calc(-1 * 21px * 0.01);
  //   color: var(--color-secondary);
}

h3 {
  font-size: 21px;
  letter-spacing: calc(-1 * 21px * 0.01);
}

h4 {
  font-size: 1rem;
  letter-spacing: calc(-1 * 1rem * 0.008);
}
