@font-face {
  font-family: "ITC Franklin Gothic";
  src: url(/fonts/ITC-Franklin-Gothic_Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  // https://www.digitalocean.com/community/tutorials/css-font-face
  font-display: optional;
  // https://developer.mozilla.org/en-US/docs/Web/CSS/font-feature-settings
  // font-feature-settings: normal;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: url(/fonts/ITC-Franklin-Gothic_Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: url(/fonts/ITC-Franklin-Gothic_Demi.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: url(/fonts/ITC-Franklin-Gothic_Demi-Italic.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: optional;
}

body {
  font-family: "ITC Franklin Gothic", sans-serif;
}

strong {
  font-weight: 600;
}

p > a {
  text-decoration: underline;
  cursor: pointer;
  background-color: var(--color-background);
  box-shadow: 0 0 0 1px var(--color-background);
  transition: box-shadow 100ms, background-color 100ms;
  // border-radius: 0.25px;

  &:hover {
    background-color: var(--color-hero);
    box-shadow: 0 0 0 2px var(--color-hero);
  }
}

// a:hover {
//   color: var(--color-spot);
// }
// /* Type */
// body {
//   color: var(--color-primary);
// }

p,
dt,
dd,
li {
  font-size: 18px;
  letter-spacing: calc(-1 * 18px * 0.008);
}

p {
  line-height: var(--line-height-p);

  &:not(:last-child) {
    margin-bottom: var(--padding-md);
  }
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1,
h2 {
  line-height: var(--line-height-h);
}

h1 {
  font-size: 48px;
  letter-spacing: calc(-1 * 48px * 0.015);
  line-height: 120%;
}

h2 {
  font-size: 32px;
  letter-spacing: calc(-1 * 32px * 0.01);
  //   color: var(--color-secondary);
  margin-bottom: var(--padding-md);
}

h3 {
  font-size: 21px;
  letter-spacing: calc(-1 * 21px * 0.01);
}

h4 {
  font-size: 1rem;
  letter-spacing: calc(-1 * 1rem * 0.008);
}
