---
layout: default
title: All
---
<!-- Gather posts -->
{% assign posts = site.posts %}
<!-- Gather ephemera -->
{% assign ephemera = site.data.ephemera %}
<!-- Join both, and then sort them -->
{% assign all = posts | concat: ephemera | sort: 'date' | reverse %}

<!-- Make a new array with just the complex dates of the above -->
{% assign datesOnlyVerbose = all | map: 'date' | uniq %}
<!-- Make an empty array to be later pushed to with simple dates -->
{% assign datesOnlySimple = '' | split: '' %}

{% for verboseDate in datesOnlyVerbose %}
<!-- Create a simpler date, and use impossible'_' character to make it array-friendly -->
{% assign simpleDate = verboseDate | date: "%B %Y" | split: '_' %}
<!-- Push this simple date to the simple array  -->
{% assign datesOnlySimple = datesOnlySimple | concat: simpleDate | uniq %}
{% endfor %}


<ul>
  {% for simpleDate in datesOnlySimple %}

  <li>
    <h6>{{ simpleDate }}</h6>

    <!-- Posts -->
    {% for item in posts %}
    <!-- Prepare post item dates to match comparison array -->
    {% assign simplePostDate = item.date | date: "%B %Y" %}
    {% if simplePostDate == simpleDate %}
    <h1>
      <a href="{{ post.url | relative_url }}">{{ item.title | escape }}</a>
    </h1>
    {% endif %}
    {% endfor %}

    <!-- Ephemera -->
    {% for item in ephemera %}
    <!-- Only go through ones that aren't marked as hidden -->
    {% if item.hidden != true %}
    <!-- Prepare post item dates to match comparison array -->
    {% assign simpleEphemeraDate = item.date | date: "%B %Y" %}
    {% if simpleEphemeraDate == simpleDate %}
    <img src="https://ik.imagekit.io/dw/ephemera/{{ item.first }}.jpg?tr=w-1,h-1" data-src="https://ik.imagekit.io/dw/ephemera/{{ item.first }}.jpg?tr=w-500"
      alt="{{ item.name }}" style="width: 100px;" />
    {% endif %}
    {% endif %}
    {% endfor %}
  </li>
  {% endfor %}
</ul>