// TODO: expose as Sass variable (@use) to other stylesheets
// and remove use of hardcoded 1024px there
// $mq-desktop: 1024px;

:root {
  // Spacing
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2.5rem;
  --spacing-lg: 3.5rem;

  // Layout
  --breakpoint-article: 640px;
  --grid-template-cols-main: repeat(12, 1fr);
  --grid-gap-main: var(--spacing-lg);

  // @media (min-width: 1024px) {
  //   --grid-gap-main: var(--spacing-lg);
  // }

  // Borders
  --stroke-thick: 2px;
  --stroke-thin: 1px;

  // Type
  --letter-spacing-wide: 0.1em;
  --letter-spacing-reg: -0.01em;
  --letter-spacing-tight: -0.0125em;
  --letter-spacing-xtight: -0.02em;
  --line-height-wide: 175%;
  --line-height-tight: 135%;
  --line-height-xtight: 120%;

  // Transitions
  --transition-text-decoration-color: text-decoration-color 150ms ease-in-out;
  --transition-text-opacity: opacity 150ms ease-in-out;
  --transition-background-color: background-color 150ms ease-in-out;
  --transition-text-opacity-result: 0.5;

  // Colors
  --color-text-primary: rgba(0 0 0 / 0.85);
  --color-border-primary: rgba(0 0 0 / 0.7);
  --color-text-secondary: #868686;
  --color-border-secondary: #cccccc;
  --color-background: #ffffff;
  --color-brown: hsla(36, 58%, 59%, 0.12);
  --color-red: #f8e4d7;
  --color-yellow: #faf8d2;
  --color-green: #edf3da;
  --color-blue: #e4fcf0;
}
