.home {
  display: grid;
  gap: var(--grid-gap-main);

  @media (min-width: 1024px) {
    // Match grid and gap from parent
    grid-template-columns: var(--grid-template-cols-main);

    .hero,
    .notes {
      grid-column: span 8;
      // grid-row: 1;
    }
    .intro,
    .projects {
      grid-column: span 4;
      // grid-row: 1;
    }
  }

  .hero {
    padding: calc(var(--spacing-sm) * 4) var(--spacing-sm);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @keyframes fadeIn {
      0% {
        background-color: var(--color-background);
      }
      100% {
        background-color: var(--color-brown);
      }
    }

    h1 {
      font-weight: 400;
      text-align: center;
      letter-spacing: var(--letter-spacing-tight);
    }
  }

  @media (min-width: 1024px) {
    .hero {
      padding: calc(var(--spacing-lg) * 2);

      h1 {
        text-align: left;
        max-width: 18ch;
        font-size: 56px;
        letter-spacing: var(--letter-spacing-xtight);
      }
    }
  }

  .intro {
    .recently {
      border-bottom: var(--stroke-thick) solid var(--color-border-primary);

      // Begin styling collapsible functionality
      // https://developer.mozilla.org/en-US/docs/Web/CSS/:checked
      // https://www.digitalocean.com/community/tutorials/css-collapsible
      #expand-toggle {
        display: none;
      }

      .expandable-content {
        max-height: 32vh;
        overflow: hidden;
        transition: max-height 250ms ease-in-out;

        // Break typography rule briefly
        p:last-child {
          margin-bottom: var(--spacing-sm);
        }
      }

      .expand-btn {
        display: block;
        padding: calc(var(--spacing-sm) / 2);
        border-top: var(--stroke-thin) solid var(--color-border-primary);
        cursor: pointer;
        font-weight: 600;
        text-align: center;
        transition: var(--transition-text-opacity);

        &:hover {
          opacity: var(--transition-text-opacity-result);
        }
      }

      #expand-toggle:checked ~ .expandable-content {
        // Must be explicit height value (i.e. not `fit-content`) for transition to work
        // Explicit height is used for transition, so be frugal with it
        max-height: 125vh;
      }

      // End styling collapsible functionality
      @media (min-width: 1024px) {
        border-bottom: var(--stroke-thin) solid var(--color-border-primary);
        padding-bottom: var(--grid-gap-main);

        .expandable-content {
          max-height: fit-content;

          // Restore broken typography rule (above)
          p:last-child {
            margin-bottom: inherit;
          }
        }
        .expand-btn {
          display: none;
        }
      }
    }

    .right-now {
      margin-top: var(--grid-gap-main);
    }
  }

  .projects {
    padding-top: var(--grid-gap-main);
    border-top: var(--stroke-thick) solid var(--color-border-primary);

    @media (min-width: 1024px) {
      border-top: var(--stroke-thin) solid var(--color-border-primary);
    }

    ul {
      li {
        display: inline;

        &:not(:last-of-type)::after {
          content: " • ";
        }

        p {
          display: inline;

          a {
            text-decoration: none;

            strong {
              text-transform: uppercase;
              font-feature-settings: "cpsp" 1;
              // TODO
              // font-feature-settings: "smcp" 1;
            }
          }
        }
      }
    }
  }

  .notes {
    padding-top: var(--grid-gap-main);
    border-top: var(--stroke-thick) solid var(--color-border-primary);

    @media (min-width: 1024px) {
      border-top: var(--stroke-thin) solid var(--color-border-primary);
    }

    display: flex;
    flex-direction: column;

    overflow-x: hidden;

    .x-scroll-wrapper {
      overflow-x: scroll;

      // Take full remaining height of area
      flex-grow: 1;

      ul {
        // Take full remaining height of area
        height: 100%;

        // Display notes items as flex too
        display: flex;
        gap: var(--spacing-sm);

        li {
          display: flex;

          // &:first-of-type {
          //   // margin-left: 2rem;
          // }

          a {
            padding: var(--spacing-sm);
            display: flex;

            flex-direction: column;
            justify-content: space-between;
            gap: var(--spacing-lg);

            @media (min-width: 1024px) {
              gap: var(--spacing-xs);
              // flex: 1;
            }
          }

          &:not(:last-of-type) {
            min-width: 20ch;
          }

          // 'More' button
          &:last-of-type {
            background-color: var(--color-blue);
            align-self: center;
            clip-path: circle();
            // width: 102px;
            flex-basis: 102px;
            height: 102px;
            flex-grow: 0;
            flex-shrink: 0;

            a {
              text-align: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              padding: 0;
              font-weight: 600;
            }
          }

          // Traffic light colors
          &:nth-child(1) {
            background-color: var(--color-red);
          }
          &:nth-child(2) {
            background-color: var(--color-yellow);
          }
          &:nth-child(3) {
            background-color: var(--color-green);
          }

          transition: var(--transition-text-opacity);

          &:hover {
            opacity: var(--transition-text-opacity-result);
          }
        }
      }
    }
  }
}
