.note {
  article {
    display: grid;

    // flex-direction: column;
    gap: var(--grid-gap-main);
    // max-width: fit-content;
    // margin: 0 auto;

    @media (min-width: 1024px) {
      // Match grid and gap from site-wide grid
      grid-template-columns: var(--grid-template-cols-main);
    }

    header {
      padding-bottom: var(--spacing-lg);
      border-bottom: var(--stroke-thin) solid var(--color-border-primary);

      @media (min-width: 1024px) {
        border-bottom: none;
        grid-column: span 6;
      }

      @media (min-width: 2190px) {
        grid-column: span 3;
      }

      h1 {
        margin-bottom: var(--spacing-sm);
        // Keep line widths legible
        max-width: 14ch;
      }

      time {
        color: var(--color-text-secondary);
        display: block;
      }
    }

    .article-content {
      // Layout
      hr {
        display: block;
        border-bottom: 1px solid var(--color-border-secondary);
        margin: var(--spacing-lg) 0;
      }

      // Headings
      h2 {
        margin-top: 4rem;
        margin-bottom: 0.85rem;
      }

      // Lists
      ul,
      ol {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 2em;
      }

      ul {
        list-style-type: square;
      }

      ol {
        list-style-type: decimal;
      }

      @media (min-width: 1024px) {
        grid-column: span 6;
        margin-bottom: var(--spacing-lg);

        // max-width: fit-content;
        // justify-self: end;

        // Keep line widths legible
        > p,
        ul,
        li {
          max-width: 64ch;
        }
      }

      @media (min-width: 1536px) {
        grid-column: span 5;
      }

      @media (min-width: 2190px) {
        grid-column: 5 / 9;
      }
    }
  }
}
