.note {
  article {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap-main);
    max-width: var(--breakpoint-article);
    margin: 0 auto;

    header {
      margin-top: var(--spacing-lg);
      padding-bottom: var(--spacing-lg);
      border-bottom: var(--stroke-thin) solid var(--color-border-primary);

      @media (min-width: 1024px) {
        max-width: var(--breakpoint-article);
      }

      h1 {
        margin-bottom: var(--spacing-sm);
      }

      time {
        color: var(--color-text-secondary);
        display: block;

        @media (min-width: 1024px) {
          // text-align: center;
        }
      }
    }

    .article-content {
      margin-bottom: var(--spacing-lg);
    }
  }
}
