<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <!-- Pinterest -->
  <meta name="p:domain_verify" content="62a5c72a4dbb40cba45c9a57bef6a6f9"/>

  <link rel="stylesheet" href="{{ "/assets/normalize.css" | relative_url }}">
  <!-- Stylesheet for webtype -->
  <link rel="stylesheet" href="{{ "/assets/style.css" | relative_url }}">

  <!-- Icons -->
    <!-- Safari pinned tab -->
    <link rel="mask-icon" href="/assets/images/tile.svg" color="#000000">

    <!-- IE -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon"/>

    <!-- Safari tile -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-114x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/images/apple-touch-icon-180x180.png">

    <!-- Chrome and anything else -->
    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/images/android-chrome-192x192.png" sizes="192x192">
</head>
