{% capture rootPath %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}{% endcapture %}
<div class="media grid grid-{{ include.type }}">

  <!-- Go through and create a usable array from media items -->
  {% assign media = include.media | split: " " %}

  <!-- Loop through each media item -->
  {% for item in media %}
  <figure>
    {% if item contains "mov" or item contains "mp4" %}
    <!-- Host videos locally, always -->
    <video src="/assets/posts/{{ rootPath }}/{{ item }}" autoplay loop muted playsinline></video>
    {% elsif include.remote %}
    <!-- Opt-in to remote image hosting with remote=true -->
    <img src="https://ik.imagekit.io/dw/posts/{{ item }}?tr=w-1,h-1" data-src="https://ik.imagekit.io/dw/posts/{{ item }}" />
    {% else %}
    <!-- Host images locally by default -->
    <img data-src="/assets/posts/{{ rootPath }}/{{ item }}" />
    {% endif %}
  </figure>
  {% endfor %}

  <!-- Caption -->
  {% if include.caption %}
  <label {% if include.hyphenate %}class="hyphenate" {% endif %}>{{ include.caption }}</label>
  {% endif %}
</div>