{% assign current = page.title | downcase %}
<nav>
    <ul>
        <li>
            <a href="{{ "/" | relative_url }}" {% if current == "index" %}class="current"{% endif %}>Index</a>
        </li>
        
        <li>
            <a href="/work" {% if current == "work" %}class="current"{% endif %}>Work</a>
        </li>
        <li>
            <a href="/notes" {% if current == "notes" %}class="current"{% endif %}>Notes</a>
        </li>
        <li>
            <a href="/about" {% if current == "about" %}class="current"{% endif %}>About</a>
        </li>
    </ul>
</nav>