{% capture rootPath %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.name }}{% endcapture %}
<!-- Wrapping in div necessary to avoid Markdown rendering as <code> -->
<div class="media video">
  {% assign attributes = include.attributes | split: " " %}
  <video src="/assets/posts/{{ rootPath }}" {% for attribute in attributes %}{{ attribute }} {% endfor %}></video>

  <!-- Caption -->
  {% if include.caption %}
  <label>{{ include.caption }}</label>
  {% endif %}
</div>
