{% macro notePreview(note) %}
  <li {% if note.data.pinned %}class="pinned"{% endif %}>
    <a href="{{ note.url }}">
      <h3>{{ note.data.title }}</h3>
      {% if note.data.pinned %}{% include "partials/pin.svg" %}{% endif %}
      {% if note.data.description %}
        <p>{{ note.data.description }}</p>
      {% endif %}
    </a>
  </li>
{% endmacro %}
