.page-header {
  border-top: 1px solid var(--color-border-primary);
  padding-top: 1rem;
  padding-bottom: 14rem;

  > h1,
  > h2 {
    font-weight: 500;
    line-height: 110%; /* 61.6px */
    letter-spacing: -1.75px;
    /* color: var(--color-text-secondary); */
  }

  > h1 {
    font-size: 56px;
  }

  > h2 {
    font-size: 40px;
  }
}
