.sticky-wrapper {
  /* Set an explicit height in order to cause shifting */
  /* height: 20rem; */
  margin-top: 2rem;
}

header.site-header {
  /* Set basic margins */
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);
  /* Match this on top too */
  margin-top: var(--margin-x);
  /* Style */
  border-top: 1px solid var(--color-border-primary);
  padding-top: 1.5rem;
  /* padding-bottom: 1.5rem; */
  padding-bottom: 3.5rem;

  position: sticky;
  top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Text */
  color: var(--color-text-tertiary);

  .left {
    display: flex;
    gap: 1rem;
    align-items: center;

    > a {
      &:hover {
        > svg {
          opacity: 0.5;
        }
      }
      > svg {
        width: 64px;
        height: auto;
        display: block;
        transition: var(--transition-text-opacity);

        > path {
          fill: var(--color-text-primary);
        }
      }
    }
  }

  /* Easter-egg link transition */
  .small > a {
    &:hover {
      opacity: 0.65;
    }
  }

  /* Animate metadata if returning back to homepage */
  & span {
    opacity: 0;
    animation: var(--fadein-duration) ease forwards fadein;
  }
}
