/* See also _directory.css for related styles */

body > footer {
  margin-top: var(--margin-y);
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);
  margin-bottom: var(--margin-y);

  /* Borders */
  border-top: var(--stroke-thick) solid var(--color-border-primary);
  /* box-shadow for second visual border */
  box-shadow: inset 0 4px 0 0 var(--color-background),
    inset 0 5px 0 0 var(--color-border-primary);
  /* Increase padding-top to take into account above border */
  padding-top: calc(5px + var(--gap-md));

  .controls {
    /* Uses old style numbering to fit nicer with text */
    font-feature-settings: "onum" 1;
    .color-switch {
      /* margin-top: -0.25rem; */
      margin-bottom: 1rem;
      @media (--viewport-md) {
        /* Set to align optically with content in other columns */
        margin-bottom: 0.75rem;
      }
    }
  }
}
