.tag-list {
  --tag-margin-y: 0.5rem;
  --tag-margin-x: 0.75rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 5rem;

  @media (--viewport-md) {
    margin-left: calc(-1 * var(--tag-margin-x));
  }

  > li > a {
    display: block;
    padding: var(--tag-margin-y) var(--tag-margin-x);
    border-radius: 2rem;
    border: 1px solid var(--color-swatch-code);
    color: var(--color-text-primary);
    font-size: var(--step--1);
    font-weight: 500;
    line-height: var(--line-height-single-line);
    letter-spacing: -0.0125rem;
    /* Fade off slowly */
    transition: background-color 0.75s ease;

    &:hover {
      background-color: var(--color-swatch-code);
      /* Fade in quickly */
      transition: background-color 0.3s ease;
      /* Reset more global styles */
      opacity: 1;
    }

    &.selected {
      background-color: var(--color-text-primary);
      color: var(--color-background);

      &:hover {
        background-color: var(--color-text-secondary);
      }
    }
  }

  &.small {
    --tag-margin-y: 0.35rem;
    --tag-margin-x: 0.5rem;
    gap: 0.25rem;

    /* > li > a {
      font-size: var(--step--1);
    } */
  }
}
