// About
header.about {
  display: grid;
  grid-template-columns: $grid-column-structure;
  gap: $grid-gap;

  img,
  h1 {
    grid-column: span 6;
  }
}

@media only screen and (min-width: $breakpoint-grid) {
  header.about {
    img {
      grid-column: span 5;
      grid-row: 1;
    }

    h1 {
      grid-row: 2;
    }
  }
}
ul.education {
  @extend %ul-plain;
}
