/* General */
:root {
  scroll-behavior: smooth;
  /* Custom properties: colour */
  --color-foreground: black;
  --color-background: white;
  --color-foreground-light: rgba(0, 0, 0, 0.05);
  --color-foreground-medium: rgba(0, 0, 0, 0.5);
  /* Custom properties: grid and spacing */
  --gap-content: 4rem;
  --gap-large: 3vw;
  --gap-small: 1rem;
  --grid-column-structure: repeat(3, 1fr);
  // Custom properties: opacity
  --opacity-hover-block: 0.75;
  --opacity-hover-text: 0.5;
  // Custom properties: time
  --time-hover: 0.33s;
  // Custom properties: type
  --type-display: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --type-body: serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* Custom properties: colour */
    --color-foreground: white;
    --color-background: black;
    --color-foreground-light: rgba(255, 255, 255, 0.05);
    --color-foreground-medium: rgba(255, 255, 255, 0.5);
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: var(--gap-large);
}

a {
  color: var(--color-foreground);
  transition: opacity var(--time-hover);
}

a:hover {
  opacity: var(--opacity-hover-text);
}

h1 {
  font-size: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--type-display);
}

@media only screen and (min-width: 40rem) {
  h1,
  h2,
  h3,
  article p,
  article ul,
  pre {
    max-width: 40rem;
  }
}
pre {
  white-space: pre-wrap;
  // line-height: 1.2rem;
}

// code {
//   background-color: var(--color-foreground-light);
//   padding: 0.125rem 0.25rem;
//   border-radius: 0.125rem;
//   border: 1px solid var(--color-foreground-light);
// }
img,
video {
  max-width: 100%;
  background-color: var(--color-foreground-light);
}

figure {
  margin: 0;
}

figcaption {
  color: var(--color-foreground-medium);
}

img.clear {
  background-color: var(--color-foreground-light);
}

hr {
  /* background-color: red; */
  border: 1px solid var(--color-foreground);
  margin-top: var(--gap-large);
  margin-bottom: var(--gap-large);
}
