// Base: shared or global styles
// Imports
// Inter
@import url('https://rsms.me/inter/inter.css');

// @font-face {
//   font-family: Telegraf;
//   src: url(Telegraf-Regular.otf);
//   font-weight: regular;
// }

// @font-face {
//   font-family: Telegraf;
//   src: url(Telegraf-UltraBold.otf);
//   font-weight: bold;
// }

// Custom properties
:root {
  scroll-behavior: smooth;
  /* Custom properties: colour */
  // --color-foreground: rgb(24, 24, 24);
  --color-foreground: rgb(32, 41, 33);
  --color-background: rgb(255, 250, 242);
  --color-foreground-light: rgba(0, 0, 0, 0.05);
  --color-foreground-medium: rgba(0, 0, 0, 0.5);
  /* Custom properties: grid and spacing */
  --gap-content: 4rem;
  // Custom properties: opacity
  --opacity-hover-block: 0.75;
  --opacity-hover-text: 0.56;
  // Custom properties: time
  --time-hover: 0.33s;
  // Custom properties: type
  // Inter
  --type-display: 'Inter', Telegraf, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  // --type-body: serif;
}
@media (prefers-color-scheme: dark) {
  :root {
    // Custom properties: colour
    --color-foreground: white;
    --color-background: black;
    --color-foreground-light: rgba(255, 255, 255, 0.2);
    --color-foreground-medium: rgba(255, 255, 255, 0.66);
  }
}

// Needed at this level so alt tags are included
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

// SCSS variables
// For use where native CSS custom properties don't work (such as within media queries)
$grid-column-structure: repeat(6, 1fr);
$grid-gap: 2rem;
$breakpoint-text: 640px; //40rem
$breakpoint-grid: calc((640px / 6) * 8);

// Sass placeholder classes
%grid-base {
  display: grid;
  grid-template-columns: $grid-column-structure;
  gap: $grid-gap;
}

%section-bottom {
  margin-bottom: 2rem;
}

%section-border-bottom {
  @extend %section-bottom;
  padding-bottom: 2rem;
  border-bottom: 0.125rem solid var(--color-foreground);
}

%section-top {
  margin-top: var(--gap-content);
}

%section-border-top {
  @extend %section-top;
  border-top: 0.125rem solid var(--color-foreground);
}

%ul-plain {
  list-style-type: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  margin: 0 3vw;
}

// Hyperlinks
a {
  color: var(--color-foreground);
  transition: opacity var(--time-hover);
}

a:hover {
  opacity: var(--opacity-hover-text);
}

hr {
  border: 1px solid var(--color-foreground-light);
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 0;
}
