// Code
code {
  color: var(--color-foreground);
  font-family: Menlo, Monaco, monospace;
  font-size: 0.95em;
}

pre {
  white-space: pre-wrap;
  // line-height: 1.2rem;
}

.highlighter-rouge {
  // max-width: $breakpoint-text;
  overflow-wrap: break-word;
  background-color: var(--color-foreground-light);
  padding: 0.0625rem 0.25rem;
  border: 1px solid var(--color-foreground-light);
  border-radius: 0.25rem;
  max-width: var(--breakpoint-text);
}
