// Footer
footer {
  @extend %section-border-top;
  // margin-top: var(--gap-content);
  padding-top: 1rem;
}

footer ul {
  @extend %ul-plain;
}

@media only screen and (min-width: 640px) {
  footer {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: var(--gap-small);
  }
}