// Footer
footer {
  @extend %section-border-top;
  padding-top: 1rem;
  margin-top: 8rem;
  margin-bottom: 4rem;
  
}

footer ul {
  @extend %ul-plain;
}

footer p, a {
  color: var(--color-foreground-medium);
}

footer a {
  text-decoration: none;
}

@media only screen and (min-width: $breakpoint-grid) {
  footer {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: 2rem;
  }

  footer > * {
    grid-column: span 2;
  }
}