// Footer
footer {
  // @extend %section-top;
  @extend %section-border-top;
  padding-top: 1rem;
  margin-bottom: 4rem;
}

footer ul {
  @extend %ul-plain;
}

@media only screen and (min-width: $breakpoint-grid) {
  footer {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: 2rem;
  }

  footer > * {
    grid-column: span 2;
  }
}