/* Header */
body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body > header svg {
  width: 9vw;
  fill: var(--color-foreground);
}

body > header nav ul {
  padding-left: 0;
}
body > header nav ul li {
  display: inline;
  margin-left: var(--gap-small);
  font-family: var(--type-display);
}

body > header nav ul li a {
  // font-size: 1.25rem;
  text-decoration: none;
}

// body > header nav ul li:hover {
//   opacity: var(--opacity-hover-text);
// }
