// Header
body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vw;
  margin-bottom: 6vw;
}

body > header a {
  // Optical alignment
  margin-top: 0.25rem;
}

body > header svg {
  width: 15vw;
  max-width: 7rem;
  margin-left: -0.25rem;
  fill: var(--color-foreground);
}

@media only screen and (min-width: $breakpoint-grid) {
  body > header svg {
    margin-left: -0.75rem;
  }
}

body > header nav ul {
  @extend %ul-plain;
}
body > header nav ul li {
  display: inline;
  margin-left: 1rem;
}
@media only screen and (min-width: $breakpoint-grid) {
  body > header nav ul li {
    margin-left: 1.5rem;
  }
}

body > header nav ul li a {
  text-decoration: none;
  color: var(--color-foreground-medium);
}
body > header nav ul li a.current,    // Support footer, too
body > footer nav ul li a.current {
  opacity: var(--opacity-hover-text);
}
