// Header
body > header {
  display: flex;
  justify-content: space-between;
  // align-items: start; TODO: Fixes shuffling yet doesn't work on small screens
  align-items: center;
  // height: 10rem;
  // @extend %section-border-bottom;
  // @extend %section-bottom;
  margin-top: 6vw;
  margin-bottom: 6vw;
}
body > header svg {
  width: 15vw;
  max-width: 7rem;
  margin-left: -0.25rem;
  fill: var(--color-foreground);
}
@media only screen and (min-width: $breakpoint-grid) {
  body > header svg {
    margin-left: -0.75rem;
  }
}

body > header nav ul {
  @extend %ul-plain;
}
body > header nav ul li {
  display: inline;
  // margin-left: var(--gap-small);
  margin-left: 1rem;
  font-family: var(--type-display);
}
@media only screen and (min-width: $breakpoint-grid) {
  body > header nav ul li {
    margin-left: 1.5rem;
  }
}

body > header nav ul li a {
  // font-size: 1.25rem;
  text-decoration: none;
}
body > header nav ul li a.current {
  opacity: var(--opacity-hover-text);
}