// Index
h1.index-intro {
  max-width: 940px; //TODO
  font-size: 5vmax;
}

ul.work {
  @extend %ul-plain;
  // @extend %section-border-top;
  padding-top: var(--gap-content);
}

ul.work li {
  margin-bottom: 6rem;
}

ul.work li a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: $breakpoint-grid) {
  ul.work li a {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;
  }
}

// ul.work li a:hover {
  ul.work li a div:hover {
  opacity: var(--opacity-hover-block); //TODO: fix
}

ul.work li a div {
  grid-column: span 3;

  h2 {
    margin-top: 0;
  }
}

ul.work li a img {
  grid-column: 5 / 7;
}

p.cta {
  text-align: right;
}