@media only screen and (min-width: $breakpoint-grid) {
  header.index {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;

    h1 {
      grid-column: span 5;
      grid-row: 1;
    }

    p {
      grid-column: span 6;
      grid-row: 2;
    }
  }
}

// List of work (shared on /work.html)
ul.work {
  @extend %ul-plain;
  // @extend %section-border-top;
  padding-top: var(--gap-content);
}

ul.work li {
  margin-bottom: 6rem;
}

ul.work li a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: $breakpoint-grid) {
  ul.work li a {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;
  }
}

ul.work li a:hover {
  opacity: var(--opacity-hover-block);
}

ul.work li a h2 {
  grid-column: span 3;
  margin-top: 0;
}

ul.work li a img {
  grid-column: span 3;
}

p.cta {
  text-align: right;
}
