// Index
h1.index-intro {
  max-width: 840px; //TODO
  font-size: 5vmax;
}

ul.work {
  @extend %ul-plain;
  @extend %section-border-top;
  padding-top: var(--gap-content);
}

ul.work li {
  margin-bottom: var(--gap-small);
}

// TODO: remove this
ul.work li.draft {
  opacity: 0.5;
}

ul.work li a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (min-width: $breakpoint-grid) {
  ul.work li a {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;
  }
}

ul.work li a:hover {
  opacity: var(--opacity-hover-block);
}

ul.work li a img {
  grid-column: span 4;
}

ul.work li a div {
  grid-column: 5 / 7;
}

p.cta {
  text-align: right;
}