// Media
// Images and video
img,
video {
  max-width: 100%;
  background-color: var(--color-foreground-light);
}

figure {
  // Reset browser defaults
  margin: 0;
}

figcaption {
  color: var(--color-foreground-medium);
  // font-size: 0.9rem;
}

// Images
// img.clear {
//   background-color: var(--color-foreground-light);
// }

// Video
// Intrinsic container method
// http://benmarshall.me/responsive-iframes/
// superseeded by...
// http://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/

.intrinsic-container {
    position: relative;
    background: var(--color-foreground-light);
  }
  /* 16x9 Aspect Ratio */
  .intrinsic-container:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  .intrinsic-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }