// Notes
@media only screen and (min-width: $breakpoint-grid) {
  article.note {
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;
  }
}
article.note {
  @extend %section-border-top;
  // margin-top: var(--gap-content);
  padding-top: 1rem;
}

article.note header {
  grid-column: span 2;
}

article.note section {
  grid-column: 3 / 7;
}


// Notes: Archive
ul.archive {
  @extend %ul-plain;

  li {
    @extend %section-border-top;
  }
}