/* Notes */
article.note {
  display: grid;
  grid-template-columns: var(--grid-column-structure);
  gap: var(--gap-small);
}

article.note header {
  grid-column: 1;
}

article.note section {
  grid-column: 2 / 4;
}
