// Type
h1, h2, h3, h4, h5, h6 {
    font-family: var(--type-display);
    overflow-wrap: break-word;
    // margin: 0;
}

@media only screen and (min-width: $breakpoint-text) {
    // h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    article p,
    article ul,
    article ol,
    pre,
    hr {
        max-width: $breakpoint-text;
    }
}
  
p,
footer,
nav,
article ul,
article ol {
    font-size: 1.2rem;
    line-height: 1.7rem;
    font-family: var(--type-display); //TODO
    // font-weight: 300;
    // letter-spacing: 0.2px;
    // Inter
}

p strong {
    font-weight: 600;
}

figcaption {
font-size: 1rem;
line-height: 1.4rem;
font-family: var(--type-display); //TODO
font-weight: 300;
color: var(--color-foreground-medium);
}

ul, ol {
    padding-inline-start: 1.2rem;
}

h1 {
    font-size: 2.5rem;
    // letter-spacing: -1px;
    // Inter
    letter-spacing: -1px;
    font-weight: 800;
}

h2 {
    font-size: 1.6rem;
    line-height: 2.15rem;
    // Inter
    letter-spacing: -0.33px;
    font-weight: 700;
    
}

h3 {
    font-size: 1.4rem;
    line-height: 1.75rem;
    // Inter
    letter-spacing: -0.25px;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.6rem;
    // Inter
    letter-spacing: -0.15px;
    font-weight: 700;
}

// h3, h4, h5, h6 {
//     color: var(--color-foreground-medium);
// }

@media only screen and (min-width: $breakpoint-grid) {
    h1 {
        font-size: 4.5rem; // 72px
        letter-spacing: -2.5px;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: -1px;
    }

    h3 {
        font-size: 1.6rem;
        line-height: 2rem;
        // Inter
        letter-spacing: -0.33px;
        font-weight: 700;
    }
    
    h4 {
        font-size: 1.4rem;
        line-height: 2rem;
        // Inter
        letter-spacing: -0.33px;
        font-weight: 700;
    }

    h4 {

    }
}

// Subtitles for headers
header > p,
header > section > p {
    font-size: 1.5rem;
    // line-height: 1.7rem;
    // Inter
    line-height: 1.9rem;
    letter-spacing: -0.5px;
}

blockquote {
    font-style: italic;
}