// Work
// Introductory image
article.project > img {
  object-fit: cover;
  width: 100%;
  max-height: 80vh;
}

// Header
article.project > header {
  // @extend %section-border-bottom;
  @extend %section-bottom;
}

article.project > header ul {
  margin: 3rem 0 0 0;
  @extend %ul-plain;
}

article.project > header ul h4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
  color: var(--color-foreground-medium);
}

article.project > header ul p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

// article.project > header ul p:last-of-type {
//   margin-bottom: 0;
// }

@media only screen and (min-width: $breakpoint-grid) {
  article.project > header {
    /* Consider replacing with flex once all browsers support `gap` for flex */
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: $grid-gap;
    align-items: last baseline;
    // margin-bottom: var(--gap-large);
  }

  article.project > header div {
    grid-column: span 4;
  }

  article.project > header ul {
    grid-column: 5 / 7;
    margin: 0;
  }
}


// Content
// article.project > section h2:not(:first-child) {
// article.project > section h2 {
// Generalised to work on About page, Notes etc. TODO: move to general 'general.scss' file
  article > h2 {
  margin-top: var(--gap-content);
}

// Press list
ul.press {
  @extend %ul-plain;
}

