/* Project */
article.project > header {
  /* Consider replacing with flex once all browsers support `gap` for flex */
  display: grid;
  grid-template-columns: var(--grid-column-structure);
  gap: var(--gap-small);
}

article.project > header div {
  grid-column: span 2;
}

article.project > header ul {
  grid-column: 3;
  list-style-type: none;
  padding-left: 0;
}

ul.press {
  list-style-type: none;
  padding-left: 0;
}

/* Project: grid templates */
.single-horizontal {
  height: 80vh;
}
.single-horizontal img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.one-vertical-two-horizontal {
  display: grid;
  grid-template-columns: var(--grid-column-structure);
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--gap-small);
  /* Must match Safari definitions below */
  height: 80vh;
}

.one-vertical-two-horizontal img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.one-vertical-two-horizontal img:nth-child(1) {
  grid-column: 1;
  grid-row: span 2;
  /* Explicitly declare height for Safari */
  height: 80vh;
}
.one-vertical-two-horizontal img:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1;
  /* Explicitly declare height for Safari */
  height: calc(40vh - 0.5rem);
}
.one-vertical-two-horizontal img:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 2;
  /* Explicitly declare height for Safari */
  height: calc(40vh - 0.5rem);
}
