// Work
// Header
article.work > header {
  // @extend %section-border-bottom;
  // @extend %section-bottom;
  display: grid;
  grid-template-columns: $grid-column-structure;
  gap: $grid-gap;

  margin-bottom: 3rem;

  img, section, ul {
    grid-column: span 6;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: 80vh;
  }
}

article.work > header ul {
  margin: 0;
  @extend %ul-plain;

  li:not(:first-child) {
    margin-top: 1.5rem;
  }
}

article.work > header ul h2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 3px;
  margin: 0;
  color: var(--color-foreground-medium);
}

article.work > header ul p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

// article.work > header ul p:last-of-type {
//   margin-bottom: 0;
// }

@media only screen and (min-width: $breakpoint-grid) {
  article.work > header {
    align-items: last baseline;

    img {
      grid-column: span 6;
      grid-row: 1;
    }

    section {
      grid-column: span 4;
      grid-row: 2;
    }

    ul {
      grid-column: 5 / 7;
      grid-row: 2;
      margin: 0;
    }
  }
}


// Content
// article.work > section h2:not(:first-child) {
// article.work > section h2 {
// Generalised to work on About page, Notes etc. TODO: move to general 'general.scss' file
  article h2:not(:first-child) {
  margin-top: var(--gap-content);
}

// Press list
ul.press {
  @extend %ul-plain;
}

