// Work
// Header
article.project > header ul {
  margin: 3rem 0 0 0;
  list-style-type: none;
  padding-left: 0;
}

article.project > header ul h4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin: 0;
  color: var(--color-foreground-medium);
}

article.project > header ul p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

// article.project > header ul p:last-of-type {
//   margin-bottom: 0;
// }

@media only screen and (min-width: 640px) {
  article.project > header {
    /* Consider replacing with flex once all browsers support `gap` for flex */
    display: grid;
    grid-template-columns: $grid-column-structure;
    gap: var(--gap-small);
    align-items: last baseline;
    // margin-bottom: var(--gap-large);
  }

  article.project > header div {
    grid-column: span 2;
  }

  article.project > header ul {
    grid-column: 3;
    margin: 0;
  }
}


// Content
// article.project > section h2:not(:first-child) {
// article.project > section h2 {
  // Generalised to work on About page etc. TODO: move to general 'general.scss' file
  article > h2 {
  margin-top: var(--gap-content);
}

// Press list
ul.press {
  list-style-type: none;
  padding-left: 0;
}

/* Project: grid templates */
// .single-horizontal {
//   height: 80vh;
// }
.single-horizontal img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.one-vertical-two-horizontal {
  display: grid;
  grid-template-columns: var(--grid-column-structure);
  grid-template-rows: 1fr 1fr;
  grid-gap: var(--gap-small);
  /* Must match Safari definitions below */
  height: 80vh;
}

.one-vertical-two-horizontal img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.one-vertical-two-horizontal img:nth-child(1) {
  grid-column: 1;
  grid-row: span 2;
  /* Explicitly declare height for Safari */
  height: 80vh;
}
.one-vertical-two-horizontal img:nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1;
  /* Explicitly declare height for Safari */
  height: calc(40vh - 0.5rem);
}
.one-vertical-two-horizontal img:nth-child(3) {
  grid-column: 2 / 4;
  grid-row: 2;
  /* Explicitly declare height for Safari */
  height: calc(40vh - 0.5rem);
}


// Testing ground
// article.project section,
// article.project section figure {
//   display: grid;
//   column-gap: 2rem;
//   grid-template-columns: repeat(6, 1fr);
// }
// article.project section figure {
//   grid-column: span 6;
// }
// article.project section figure figcaption,
// article.project section h2 {
//   // color: red;
//   grid-column: 1 / 4;
// }

// article.project section p {
//   margin-bottom: 14rem;
// }

// article.project section figure img,
// article.project section p {
//   // color: green;
//   grid-column: 4 / 7;
// }

// Project imagery and video
article.project section figure {
  margin: 2rem auto;
}
article.project section figure figcaption {
  margin-top: 0.5rem;
}

@media only screen and (min-width: 640px) {
  article.project section figure {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    // align-items: end;
    
  }

  article.project section figure img,
  article.project section figure video {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  // Special case: two images
  article.project section figure.even-two img,
  article.project section figure.even-four img {
    grid-column: span 2;
  }

   // Special case: four images
   article.project section figure.even-four img:nth-child(2), 
   article.project section figure.even-four img:nth-child(1) {
    grid-row: 1;
  }
  article.project section figure.even-four img:nth-child(3),
  article.project section figure.even-four img:nth-child(4) {
    grid-row: 2;
  }

  article.project section figure figcaption {
    margin-top: 0;
    grid-column: 5 / 7;
    grid-row: 1;
  }
}

