{% extends "layouts/base.njk" %}

{% block bodyContent %}

{% include "partials/site-header.html" %}

{# Only include 'breadcrumb' second header if this is a note #}
{% for tag in tags %}
    {% if tag === "note" %}
        <header class="page-header">
            <h2><a href="/notes">Notes</a></h2>
        </header>
    {% endif %}
{% endfor %}

<main>
    <article>
        <header>
            <h1>{{ title }}</h1>
           {% if subtitle %}
            <p>{{ subtitle }}</p>
            {% endif %}
        </header>

        {% if stage %}
        <aside class="stage">
            <span>Updated 2 days ago</span>
            <span>Published September 2023</span>
        </aside>
        {% endif %}

        {% if audience %}
        <aside class="audience">
            <h2 class="small">Assumed audience</h2>
            <p>{{ audience }}</p>
        </aside>
        {% endif %}

        <aside class="toc">
            <span>Table of contents go here</span>
        </aside>

        <div class="article-content">
            {{ content | safe }} 
        </div>
    </article>
</main>
{% endblock %}
