<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  {# Stylesheets #}
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
  {# Splitbee #}
  {# TODO #}
  {# <script async src="https://cdn.splitbee.io/sb.js"></script> #}
  {# Anything bespoke to a page can go in these blocks #}
  {% block headContent %}{% endblock %}
</head>

<body>
  {% include "partials/site-header.html" %}
  {% block bodyContent %}{% endblock %}
  {% include "partials/site-footer.html" %}
</body>
</html>
