{% extends "layouts/base.njk" %}

{% block bodyContent %}

  {% include "partials/site-header.njk" %}

  <main>
    <header class="page-header">
      <h1>{{ title }}</h1>
      <p>{{ collections.books.length }} books sorted from most recently added to oldest.</p>
    </header>

    <ul>
      {% for item in collections.books %}
        {% set title = item.properties.Title.title[0].plain_text %}
        {% set author = item.properties.Author.multi_select[0].name %}
        {# TODO: loop through the multi_select above to capture any other authors #}
        {% set imgUrl = item.properties.Cover.files[0].file.url %}
        <li>
          {% if imgUrl %}
            {# Use our shortcode to create the most appropriate image based on resolution, availability #}
            {% set alt = "The book cover for " + title + "." %}
            {% bookImage imgUrl, alt %}
          {% endif %}
          {{ title }} by {{ author }}
        </li>
      {% endfor %}
    </ul>
  </main>

{% endblock %}
