{% extends "layouts/base.njk" %}

{% block bodyContent %}
<main>
    <header>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </header>
    <div>
        {% for subject, guides in collections.guidesBySubject %}
        <section>
        <h2>{{ subject }}</h2>
        <ul>
            {% for item in guides | reverse %}
            <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
            {% endfor %}
        </ul>
        </section>
        {% endfor %}
    </div>
</main>
{% endblock %}
