{% extends "layouts/base.njk" %}


{% block bodyContent %}
  <main class="home">
    <section class="hero">
      <h1>I design products that get us closer to net zero.</h1>
    </section>
    <section class="intro">
      <p><strong>Recently</strong> I was the founding product designer at Future Super, Australia’s first fossil free super fund. Before that I designed Kickstarter’s iOS and Android apps, as well as its Environmental Resource Center and creator tools. I helped design tools like Origami Studio and worked on projects with Unity, Meta, General Electric, City of New York, and Nike.</p>
    {{ content | safe }}
    </section>
    
  <section class="notes">
      <h2>Briefly</h2>
      <ul>
      {% for note in collections.blog %}
      <li>
        <a href="{{ note.url }}">
          <h3>{{ note.data.title }}</h3>
          <h4>{{ note.data.custTags[0] }}</h4>
        </a>
      </li>
      {% endfor %}
      <li><a href="#">More →</a></li>
      </ul>
  </section>
      

  <section class="projects">
    <h2>Ongoing</h2>
    <ul>
    {% for project in projects %}
    <li><strong>{{ project.name }}</strong> {{ project.desc }}</li>
    {% endfor %}
    </ul>
  </section>

   
  </main>
{% endblock %}
