{% extends "layouts/base.njk" %}

{% block headContent %}
  {# Add Google Search data #}
  {# https://developers.google.com/search/docs/appearance/site-names#guidelines #}
  <script type="application/ld+json">
      {
        "@context" : "https://schema.org",
        "@type" : "WebSite",
        "name" : "{{ site.title }}",
        "url" : "{{ site.url }}"
      }
  </script>
{% endblock %}

{% block bodyContent %}
  <header class="crawl-header">
    <div class="header-text">
      <p><span>Hello. </span><span>You’ve reached the internet home of Danny White, a freelance digital designer in Melbourne, Australia.</span></p>
    </div>
    <div class="header-text">
      <p>I design for screen. Maybe I’ve even designed for one of yours.</p>
    </div>
    <div class="header-text">
      <p id="client-desc">These are some of the folks I’ve had the pleasure of working with over the last 8+ years...</p>
    </div>
    {% include "partials/client-roll.html" %} 
    <div class="header-text">
      <p>I am <span class="highlight">available</span> for new work starting <span class="highlight">November 1st 2023</span>.</p>
      <p>Design prototyping, systems, and design engineering roles are my forte.</p>
      <p>Sound like it could be a fit? <a data-tooltip="Opens your email app" href="#todo">Let’s chat</a>.</p>
    </div>
  </header>
  <main>
    {% include "partials/site-header.html" %}

    {# Interstitial #}
    <section class="interstitial">
      <p>Oh, hello. This is the interstitial. It should look a bit like the footer and help break up the above from the below.</p>
    </section>

    {# Projects #}
    <section class="home-section">
      <header>
        <h2>Projects</h2>
      </header>
      <div class="inner">
        <p>Select items, on the side.</p>
        <ul class="projects">
        {% for item in projects %}
          <li {% if item.img %} class="featured" {% endif %}>
            <a href="{{ item.url }}">
            {% if item.img %}
            <img src="{{ item.cover }}" alt="The hero image for {{ item.name }}.">
            {% endif %}
            <div>
              <h3>{{ item.name }}</h3>
              <span class="outbound">{{ item.domain }}</span>
              {# <div class="outbound"><span>{{ item.domain }}</span>{% include "partials/arrow-se.svg" %}</div> #}
              <p>{{ item.desc }}</p>
              <p>{{ item.status }}</p>
              </div>
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </section>

    {# Notes #}
    <section class="home-section">
      <header>
        <h2>Notes</h2>
      </header>
      <div class="inner">
        <p>To self, to you, to whomever. What’s been on my mind. <a class="outbound rss" href="/feed.xml">RSS</a></p>
        <ul class="notes">
          {# Go through pinned items first #}
          {% for item in collections.note | reverse %}
          {% if item.data.pinned %}
          {# {% if env.eleventyRunMode === "build" and if item.data.draft %} #}
          {# Ignore #}
          {# {% else %} #}
          {#  #}
          <li class="pinned">
            <a href="{{ item.url }}">
              <h3>{{ item.data.title }}</h3>
              {% include "partials/pin.svg" %}
            </a>
          </li>
          {% endif %}
          {% endfor %}

          {# Go through non-pinned items from newest to olderst #}
          {% for item in collections.note | reverse %}
          {# Skip those that are pinned since they are already done above #}
          {% if not item.data.pinned %}
          {# Limit to X amount of items #}
          {% if loop.index0 < 17 %} 
          {% if not item.data.draft or not (env.eleventyRunMode === "build") %}
          <li>
            <a href="{{ item.url }}">
              <h3>{{ item.data.title }}</h3>
            </a>
          </li>
          {% endif %}
          {% endif %}
          {% endif %}
          {% endfor %}
          </ul>
          {# Link to all notes #}
          <p><a href="/notes">See all {{ notes.count }} notes</a></p>
        </div>
    </section>

    {# Trove #}
    <section class="home-section">
      <header>
        <h2>Trove</h2>
      </header>
      <div class="inner">
        <p>What I’ve found interesting lately from around the web.</p>
        <ul class="trove">
        {% for item in collections.raindrops %}
            <li>
              <a href="{{ item.link }}" target="_blank" rel="noopener">
                {% if item.type == "image" %}
                  <img src="{{ item.cover }}" alt="The image accompanying this link.">
                {% else %}
                  <h3>{{ item.title }}</h3>
                {% endif %}
                {% if item.note %}
                  <p>{{ item.note }}</p>
                {% endif %}
                <span class="outbound"><span>{{ item.domain }}</span></span>
              </a>
            </li>
            {% endfor %}
        </ul>
      </div>
    </section> 
  </main>
{% endblock %}


{% block pageJsContent %}
  {# Page-specific scripts that depend on DOM elements #}
    {% set pageJs %}
        {# Adds intro behaviour #}
        {% include "js/client-roll.js"%}
    {% endset %}
    {# Minify above scripts #}
    <script>{{ pageJs | jsmin | safe }}</script>
{% endblock %}