{% extends "layouts/base.njk" %}

{% block bodyContent %}
<main class="note">
    <article>
        <header>
            <h1>{{ title }}</h1>
            {# TODO: fix date formatting #}
            <time itemprop="dateCreated datePublished" datetime="{{ date }}">{{ date }}</time>
        </header>
        <div class="article-content">
            {{ content | safe }}
        </div>
    </article>
</main>
{% endblock %}
