{% extends "layouts/base.njk" %}
{% block headContent %}
  {# Add client spinner only to homepage, defer until document has been parsed as it relies on DOM elements #}
  <script defer src="/js/distance-converter.js"></script>
{% endblock %}

{% block bodyContent %}
<main class="note">
    <article>
        <header>
            <h1>{{ title }}</h1>
            <time itemprop="dateCreated datePublished" datetime="{{ date | w3PostDate }}" class="small-text">{{ date | postDate }}</time>
            
        </header>
        <div class="article-content">
            {{ content | safe }}
        </div>
    </article>
</main>
{% endblock %}
