.article {
  scroll-behavior: smooth;
  > body {
    .page-header {
      margin-left: var(--margin-x);
      margin-right: var(--margin-x);
    }
    > main {
      > article {
        @media (--viewport-sm) {
          display: grid;
          grid-template-columns: minmax(auto, 720px) 1fr;
          gap: 0 var(--gap-lg);
        }
        @media (--viewport-lg) {
          margin-top: 10rem;
          grid-template-columns: 1fr minmax(auto, 720px) 1fr;
        }

        > header,
        > aside.audience,
        .article-content {
          @media (--viewport-sm) {
            grid-column: 1;
          }
          @media (--viewport-lg) {
            grid-column: 2;
          }
        }

        > header {
          @media (--viewport-lg) {
            grid-row: 1;
          }

          > h1 {
            font-size: 72px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 79.2px */
            letter-spacing: -2.52px;
          }
          > p {
            /* TODO: replace with general styles also used in Home intros */
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.84px;
            color: var(--color-text-secondary);
          }
        }

        > aside.stage,
        > aside.left {
          min-width: 200px;
          /* width: fit-content; */
          /* TODO: Unify text styles elsewhere */
          font-size: 14px;

          @media (--viewport-sm) {
            /* grid-row: 2; */
          }

          @media (--viewport-lg) {
            grid-row: 3;
          }
        }

        .article-content,
        > aside.stage,
        > aside.left {
          margin-top: var(--margin-x);
        }

        > aside.audience {
          margin-top: var(--margin-x);
          border-top: 1px solid var(--color-border-secondary);
          border-bottom: 1px solid var(--color-border-secondary);
          padding: 2rem 0;

          @media (--viewport-lg) {
            grid-row: 2;
            padding: 3rem 0;
          }
          /* margin-top: 5rem; */
          /* margin-bottom: 7rem; */

          > h2 {
            margin-bottom: 0.5rem;
            color: var(--color-text-tertiary);
            font-weight: 600; /* Bold text slightly */
          }
          > p {
            /* font-size: var(--font-size-sm); */
            color: var(--color-text-secondary);
          }
        }

        > aside.stage {
          @media (--viewport-lg) {
            grid-column: 3;
            justify-self: end;
            /* align-self: end; */
            text-align: right;

            /* Set sticky */
            position: sticky;
            top: var(--margin-x);
            align-self: start;
          }
          > p:first-of-type {
            color: var(--color-text-secondary);
          }
          > p:last-of-type {
            color: var(--color-text-tertiary);
          }

          /* Add transitions to visibility (handled in JavaScript) */
          opacity: 0;
          transition: opacity 0.65s 2s ease;
          &.visible {
            transition: opacity 0.65s 0s ease;
            opacity: 1;
          }

          .dots {
            /* https://css-tricks.com/five-methods-for-five-star-ratings/ */
            --dot-filled: var(--color-text-secondary);
            --dot-unfilled: var(--color-text-tertiary);
            --percent: calc(var(--stage) / 3 * 100%);

            display: inline-block;
            font-size: 24px;
            /* Make sure • appears correctly by using default font */
            font-family: Times;
            line-height: 1;

            &::before {
              content: "•••";
              letter-spacing: 1.5px;
              background: linear-gradient(
                -90deg,
                var(--dot-filled) var(--percent),
                var(--dot-unfilled) var(--percent)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        > aside.left {
          /* Don't show unless on a larger breakpoint */
          display: none;
          @media (--viewport-sm) {
            position: sticky;
            top: var(--margin-x);
            align-self: start;

            grid-column: 2;
            /* grid-row: 3; */
            /* Display as flex in case there are multiple child sections */
            display: flex;
            flex-direction: column;
            gap: var(--gap-md);
          }
          @media (--viewport-lg) {
            grid-column: 1;
          }
          /* Style */
          color: var(--color-text-tertiary);

          > section {
            > h2 {
              margin-bottom: 1rem;
            }
            > nav.toc > ol,
            > nav.toc > ol > li > ol {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
            > nav.toc > ol {
              > li > ol {
                margin-top: 0.5rem;
                padding-left: 1rem;
              }
            }
          }
        }

        .article-content {
          max-width: var(--width-max);
          /* Cancel out any remaining margins or padding on its children */
          /* https://chriscoyier.net/2023/06/12/margin-trim-as-a-best-practice/ */
          margin-trim: block;

          @media (--viewport-lg) {
            grid-row: 3;
          }

          > h2,
          > h3,
          > h4 {
            font-weight: 500;
          }

          & p,
          & dt,
          & dd,
          & ol,
          & ul {
            font-size: var(--font-size-article);
            letter-spacing: var(--letter-spacing-reg);
          }

          & p {
            line-height: var(--line-height-wide);
            /* Uses old style numbering to fit nicer with text */
            font-feature-settings: "onum" 1;
            /* margin-bottom: 1rem; */

            /* &:not(:last-child) {
            } */

            /* text-indent: 3em; */
            margin-bottom: 1rem;

            &:first-child {
              text-indent: 0;
            }

            /* &:not(:first-of-type) {
            } */
          }

          > h2 {
            /* Re-use from somewhere else */
            font-size: 40px;

            line-height: 110%; /* 44px */
            letter-spacing: -1.4px;

            /* Margins */
            margin-top: 4rem;
            margin-bottom: 0.85rem;
            @media (--viewport-lg) {
              margin-top: 6rem;
            }
          }

          > h3 {
            font-size: 21px;
            line-height: var(--line-height-tight);

            /* Margins */
            margin-top: 2rem;
            margin-bottom: 0.65rem;
            @media (--viewport-lg) {
              margin-top: 3rem;
            }
          }

          > h4 {
            font-size: 18px;
            line-height: var(--line-height-tight);
            margin-bottom: 0.25rem;
          }

          /* Only vertically space lists that aren't children of other lists */
          /* In other words: give lists vertical space unless they are indented lists */
          > p + ul,
          > ol + ul {
            margin-block-start: 1em;
            margin-block-end: 1em;
          }

          /* Lists */
          & ul,
          & ol {
            line-height: var(--line-height-xwide);

            /* Outset lists on larger breakpoints */
            padding-inline-start: 1.5rem;
            @media (--viewport-lg) {
              padding-inline-start: 0;
            }

            & li {
              > a {
                text-decoration: underline;
                text-underline-offset: 1.5px;
                text-decoration-color: var(--color-border-secondary);
              }

              /* Indent child lists */
              > ol,
              > ul {
                padding-inline-start: 1.5rem;
              }
            }
          }
          & ul {
            list-style-type: square;
          }

          & ol {
            list-style-type: decimal;
          }

          /* Style list markers */
          ::marker {
            color: var(--color-text-tertiary);
            font-feature-settings: "onum" 1;
          }

          /* Dividers including footnote separators */
          & hr {
            display: block;
            border-bottom: 1px solid var(--color-border-secondary);
            margin: var(--spacing-lg) 0;
          }

          /* Tables */
          > table {
            width: 100%; /* Take full width of text area */

            > thead tr {
              border-bottom: 1px solid var(--color-border-primary);
              /* Style same as .small text */
              font-weight: 600;
              text-transform: uppercase;
              font-feature-settings: "cpsp" 1;
              font-size: 12px;
              letter-spacing: var(--letter-spacing-wide);
            }

            > tbody tr:not(:last-of-type) {
              border-bottom: 1px solid var(--color-border-secondary);
            }

            & tr {
              > th,
              > td {
                padding: 0.76rem 0.5rem;

                > a {
                  text-decoration: underline;
                  text-underline-offset: 1.5px;
                  text-decoration-color: var(--color-border-secondary);
                }
              }

              &.chapter {
                font-weight: 500;
                background-color: var(--color-background-highlight);
              }
            }
          }

          /* Images */
          & figure {
            margin: var(--spacing-md) 0;
            /* Set as flex so figcaption can be aligned to right */
            display: flex;
            flex-direction: column;
            align-items: end;

            > figcaption {
              color: var(--color-text-secondary);
              font-size: var(--font-size-sm);
              text-align: right;
              max-width: 600px; /*  TODO variable the same as text width */
              margin-top: 1rem;
              /* margin-left: 3rem; */

              @media (--viewport-lg) {
                margin-left: calc(
                  var(--gap-md) / 2
                ); /* Visual padding for caption */
              }
            }
          }

          .two-up {
            @media (--viewport-lg) {
              display: flex;
              gap: calc(var(--gap-md) / 2);
            }
          }
        }
      }
    }
  }
}
