.article {
  scroll-behavior: smooth;
  > body {
    .page-header {
      margin-left: var(--margin-x);
      margin-right: var(--margin-x);
    }
    > main {
      > article {
        @media (min-width: 1024px) {
          margin-top: 10rem;
          display: grid;
          grid-template-columns: 1fr minmax(auto, 720px) 1fr;
          /* grid-template-columns: 200px 720px 200px; */
          gap: 0 var(--gap-md);
        }

        > header,
        > aside.audience,
        .article-content {
          @media (min-width: 1024px) {
            grid-column: 2;
          }
        }

        > header {
          @media (min-width: 1024px) {
            grid-row: 1;
          }

          > h1 {
            font-size: 72px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 79.2px */
            letter-spacing: -2.52px;
          }
          > p {
            /* TODO: replace with general styles also used in Home intros */
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.84px;
            color: var(--color-text-secondary);
          }
        }

        > aside.stage,
        > aside.left {
          width: fit-content;
          /* TODO: Unify text styles elsewhere */
          font-size: 14px;
          @media (min-width: 1024px) {
            grid-row: 3;
            /* Set sticky */
            position: sticky;
            top: var(--margin-x);
            align-self: start;
          }
        }

        .article-content,
        > aside.stage,
        > aside.left {
          @media (min-width: 1024px) {
            margin-top: var(--margin-x);
          }
        }

        > aside.audience {
          margin-top: var(--margin-x);
          border-top: 1px solid var(--color-border-secondary);
          border-bottom: 1px solid var(--color-border-secondary);
          padding: 2rem 0;
          @media (min-width: 1024px) {
            grid-row: 2;
            padding: 3rem 0;
          }
          /* margin-top: 5rem; */
          /* margin-bottom: 7rem; */

          > h2 {
            margin-bottom: 0.5rem;
            color: var(--color-text-secondary);
            font-weight: 500;
          }
          > p {
            /* font-size: var(--font-size-sm); */
            color: var(--color-text-secondary);
          }
        }

        > aside.stage {
          @media (min-width: 1024px) {
            grid-column: 3;
            justify-self: end;
            /* align-self: end; */
            text-align: right;
          }
          > p:first-of-type {
            color: var(--color-text-secondary);
          }
          > p:last-of-type {
            color: var(--color-text-tertiary);
          }

          /* Add transitions to visibility (handled in JavaScript) */
          opacity: 0;
          transition: opacity 0.65s 2s ease;
          &.visible {
            transition: opacity 0.65s 0s ease;
            opacity: 1;
          }

          .dots {
            /* https://css-tricks.com/five-methods-for-five-star-ratings/ */
            --dot-filled: var(--color-text-secondary);
            --dot-unfilled: var(--color-text-tertiary);
            --percent: calc(var(--stage) / 3 * 100%);

            display: inline-block;
            font-size: 24px;
            /* Make sure • appears correctly by using default font */
            font-family: Times;
            line-height: 1;

            &::before {
              content: "•••";
              letter-spacing: 1.5px;
              background: linear-gradient(
                -90deg,
                var(--dot-filled) var(--percent),
                var(--dot-unfilled) var(--percent)
              );
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }

        > aside.left {
          /* Don't show unless on a larger breakpoint */
          display: none;
          @media (min-width: 1024px) {
            grid-column: 1;

            /* Display as flex in case there are multiple child sections */
            display: flex;
            flex-direction: column;
            gap: var(--gap-md);
          }
          /* Style */
          color: var(--color-text-tertiary);

          > section {
            > h2 {
              margin-bottom: 1rem;
            }
            > nav.toc > ol,
            > nav.toc > ol > li > ol {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
            > nav.toc > ol {
              > li > ol {
                margin-top: 0.5rem;
                padding-left: 1rem;
              }
            }
          }
        }

        .article-content {
          max-width: var(--width-max);
          /* Cancel out any remaining margins or padding */
          margin-trim: block;
          @media (min-width: 1024px) {
            grid-row: 3;
          }

          > h2,
          > h3,
          > h4 {
            font-weight: 500;
          }

          > p,
          > dt,
          > dd,
          > ol,
          > ul {
            font-size: 18px;
            letter-spacing: var(--letter-spacing-reg);
            line-height: var(--line-height-wide);
          }

          > p {
            /* Uses old style numbering to fit nicer with text */
            font-feature-settings: "onum" 1;
            /* margin-bottom: 1rem; */

            /* &:not(:last-child) {
            } */

            /* text-indent: 3em; */
            margin-bottom: 1rem;

            &:first-child {
              text-indent: 0;
            }

            /* &:not(:first-of-type) {
            } */
          }

          > h2 {
            /* Re-use from somewhere else */
            font-size: 40px;

            line-height: 110%; /* 44px */
            letter-spacing: -1.4px;

            /* Margins */
            margin-top: 4rem;
            margin-bottom: 0.85rem;
            @media (min-width: 1024px) {
              margin-top: 6rem;
            }
          }

          > h3 {
            font-size: 21px;
            line-height: var(--line-height-tight);

            /* Margins */
            margin-top: 2rem;
            margin-bottom: 0.65rem;
            @media (min-width: 1024px) {
              margin-top: 3rem;
            }
          }

          > h4 {
            font-size: 18px;
            line-height: var(--line-height-tight);
            margin-bottom: 0.25rem;
          }

          > ul {
            list-style-type: square;
          }

          > ol {
            list-style-type: decimal;
          }

          /* Images */
          & figure {
            margin: var(--spacing-md) 0;
            /* Set as flex so figcaption can be aligned to right */
            display: flex;
            flex-direction: column;
            align-items: end;

            > figcaption {
              color: var(--color-text-secondary);
              font-size: var(--font-size-sm);
              text-align: right;
              max-width: 640px; /*  TODO variable the same as text width */
              margin-top: 1rem;
              /* margin-left: 3rem; */

              @media (min-width: 1024px) {
                margin-left: calc(
                  var(--gap-md) / 2
                ); /* Visual padding for caption */
              }
            }
          }

          .two-up {
            @media (min-width: 1024px) {
              display: flex;
              gap: calc(var(--gap-md) / 2);
            }
          }
        }
      }
    }
  }
}
