.article {
  scroll-behavior: smooth;
  > body {
    .page-header {
      margin-left: var(--grid-gutter);
      margin-right: var(--grid-gutter);
    }
    > main {
      > article {
        @media (--viewport-sm) {
          display: grid;
          grid-template-columns: minmax(auto, 720px) 1fr;
          gap: 0 var(--gap-lg);
        }
        @media (--viewport-lg) {
          margin-top: 10rem;
          grid-template-columns: 1fr minmax(auto, 720px) 1fr;
        }

        > header,
        > aside.audience,
        .article-content {
          @media (--viewport-sm) {
            grid-column: 1;
          }
          @media (--viewport-lg) {
            grid-column: 2;
          }
        }

        > header {
          @media (--viewport-lg) {
            grid-row: 1;
          }

          > h1 {
            font-size: var(--step-5);
            font-style: normal;
          }
          > p {
            /* Optional page subtitle */
            font-size: var(--step-2);
            line-height: var(--line-height-tight);
            color: var(--color-text-secondary);
            margin-top: var(--gap-sm);
          }
        }

        > aside.stage,
        > aside.left {
          min-width: 200px;
          /* width: fit-content; */
          /* TODO: Unify text styles elsewhere */
          font-size: var(--step--1);

          @media (--viewport-sm) {
            /* grid-row: 2; */
          }

          @media (--viewport-lg) {
            grid-row: 3;
          }
        }

        .article-content,
        > aside.stage,
        > aside.left {
          margin-top: var(--grid-gutter);
        }

        > aside.audience {
          margin-top: var(--grid-gutter);
          border-top: 1px solid var(--color-border-secondary);
          border-bottom: 1px solid var(--color-border-secondary);
          padding: 2rem 0;

          @media (--viewport-lg) {
            grid-row: 2;
            padding: 3rem 0;
          }
          /* margin-top: 5rem; */
          /* margin-bottom: 7rem; */

          > h2 {
            margin-bottom: 0.5rem;
            color: var(--color-text-tertiary);
            font-weight: 500; /* Bold text slightly */
          }
          > p {
            /* font-size: var(--font-size-sm); */
            color: var(--color-text-secondary);
          }
        }

        > aside.stage {
          @media (--viewport-md) {
            /* Align to top by removing shared margin */
            margin-top: 0;
          }
          @media (--viewport-lg) {
            /* Restore shared margin */
            margin-top: var(--grid-gutter);
            /* Style */
            grid-column: 3;
            justify-self: end;
            text-align: right;

            /* Set sticky */
            position: sticky;
            top: var(--grid-gutter);
            align-self: start;
          }
          > p:first-of-type {
            color: var(--color-text-secondary);
          }
          > p:last-of-type {
            color: var(--color-text-tertiary);
          }

          /* Add transitions to visibility (handled in JavaScript) */
          opacity: 0;
          transition: opacity 0.65s 2s ease;
          &.visible {
            transition: opacity 0.65s 0s ease;
            opacity: 1;
          }

          /* Dots styles have been extracted (serach for `.dots`) so they can be shown in the Colophon explainer */
        }

        .dots {
          /* https://css-tricks.com/five-methods-for-five-star-ratings/ */
          --dot-filled: var(--color-text-secondary);
          --dot-unfilled: var(--color-text-quaternary);
          --percent: calc(var(--stage) / 3 * 100%);

          display: inline-block;
          font-size: 24px;
          /* Make sure • appears correctly by using default font */
          font-family: Times;
          line-height: 1;

          &::before {
            content: "•••";
            letter-spacing: 1.5px;
            background: linear-gradient(
              90deg,
              var(--dot-filled) var(--percent),
              var(--dot-unfilled) var(--percent)
            );

            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        > aside.left {
          /* Don't show unless on a larger breakpoint */
          display: none;

          @media (--viewport-sm) {
            /* Move to right */
            top: var(--margin-x);
            align-self: start;
            justify-self: end;
            grid-column: 2;
            grid-row: 2 / 4;
            /* Make sticky */
            position: sticky;
            /* Display as flex in case there are multiple child sections */
            display: flex;
            flex-direction: column;
            gap: var(--gap-md);
          }
          @media (--viewport-lg) {
            /* Move to left */
            justify-self: start;
            grid-column: 1;
            grid-row: 3;
          }
          /* Style */
          color: var(--color-text-tertiary);

          > section {
            > h2 {
              margin-bottom: 1rem;
            }
            > nav.toc > ol,
            > nav.toc > ol > li > ol {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
            }
            > nav.toc > ol {
              > li > ol {
                margin-top: 0.5rem;
                padding-left: 1rem;
              }
            }
          }
        }

        .article-content {
          max-width: var(--grid-max-width);
          /* Cancel out any remaining margins or padding on its children */
          /* https://chriscoyier.net/2023/06/12/margin-trim-as-a-best-practice/ */
          margin-trim: block;

          @media (--viewport-lg) {
            grid-row: 3;
          }

          > h2,
          > h3,
          > h4 {
            font-weight: 500;
          }

          & p,
          & dt,
          & dd,
          & ol,
          & ul {
            font-size: var(--step-0);
          }

          & p,
          & li {
            margin-bottom: var(--space-s);
          }

          & p {
            line-height: var(--line-height-wide);
            /* Uses old style numbering to fit nicer with text */
            font-feature-settings: "onum" 1;
            /* margin-bottom: 1rem; */

            /* &:not(:last-child) {
            } */

            /* text-indent: 3em; */

            &:first-child {
              text-indent: 0;
            }

            /* &:not(:first-of-type) {
            } */
          }

          > h2 {
            /* Re-use from somewhere else */
            font-size: var(--step-3);

            /* Margins */
            margin-top: 4rem;
            margin-bottom: 0.85rem;
            @media (--viewport-lg) {
              margin-top: 6rem;
            }
          }

          > h3 {
            font-size: var(--step-2);

            /* Margins */
            margin-top: 2rem;
            margin-bottom: 0.65rem;
            @media (--viewport-lg) {
              margin-top: 3rem;
            }
          }

          > h4 {
            font-size: var(--step-1);

            margin-bottom: 0.25rem;
          }

          /* Only vertically space lists that aren't children of other lists */
          /* In other words: give lists vertical space unless they are indented lists */
          > p + ul,
          > ol + ul {
            margin-block-start: 1em;
            margin-block-end: 1em;
          }

          /* Lists */
          & ul,
          & ol {
            /* Outset lists on larger breakpoints */
            padding-inline-start: 1.5rem;
            @media (--viewport-lg) {
              padding-inline-start: 0;
            }

            & li {
              > a {
                text-decoration: underline;
                text-underline-offset: 1.5px;
                text-decoration-color: var(--color-border-secondary);
              }

              /* Indent child lists */
              > ol,
              > ul {
                padding-inline-start: 1.5rem;
                /* Match more general margins */
                margin-top: var(--space-s);
              }
            }
          }
          & ul {
            list-style-type: square;
          }

          & ol {
            list-style-type: decimal;
          }

          /* Style list markers */
          ::marker {
            color: var(--color-text-quaternary);
            font-feature-settings: "onum" 1;
          }

          /* Dividers including footnote separators */
          & hr {
            display: block;
            border-bottom: 1px solid var(--color-border-secondary);
            margin: var(--spacing-lg) 0;
          }

          /* Blockquotes */
          /* See the below for why I wrap blockquotes in figure elements */
          /* https://css-tricks.com/quoting-in-html-quotations-citations-and-blockquotes/#aa-hey-what-about-the-figure-element */
          > figure.quote {
            /* border-top: 1px solid var(--color-border-secondary); */
            /* border-bottom: 1px solid var(--color-border-secondary); */
            /* background-color: var(--color-swatch-code); */
            margin: var(--gap-sm) 0;
            padding: 1.5rem 1.5rem;

            > blockquote {
              margin-trim: block;
              > p {
                font-weight: 400;
                font-style: italic;
                /* text-align: right; */
                font-size: var(--step-1);
                line-height: var(--line-height-reg);

                /* Quotes */
                &:before {
                  content: open-quote;
                }
                &:after {
                  content: close-quote;
                }

                hanging-punctuation: first last;
              }
            }

            > figcaption {
              margin-top: 1rem;
              /* TODO: Merge with .small-text @mixin */
              text-transform: uppercase;
              font-feature-settings: "cpsp" 1;
              font-size: var(--step--2);
              color: var(--color-text-secondary);
              /* Remember to add a <cite> element when referencing creative work */
            }
          }

          /* Tables */
          > table {
            width: 100%; /* Take full width of text area */

            > thead tr {
              border-bottom: 1px solid var(--color-border-primary);
              /* Style same as .small text */
              font-weight: 500;
              text-transform: uppercase;
              font-feature-settings: "cpsp" 1;
              font-size: var(--step--2);
              letter-spacing: var(--letter-spacing-wide);
            }

            > tbody tr:not(:last-of-type) {
              border-bottom: 1px solid var(--color-border-secondary);
            }

            & tr {
              > th,
              > td {
                padding: 0.76rem 0.5rem;

                > a {
                  text-decoration: underline;
                  text-underline-offset: 1.5px;
                  text-decoration-color: var(--color-border-secondary);
                }
              }

              &.chapter {
                font-weight: 500;
                background-color: var(--color-background-highlight);
              }
            }
          }

          /* Images */
          & figure {
            margin: var(--spacing-md) 0;
            /* Set as flex so figcaption can be aligned to right */
            display: flex;
            flex-direction: column;
            align-items: end;

            > figcaption {
              color: var(--color-text-tertiary);
              font-size: var(--step--2);
              text-align: right;
              max-width: 600px; /*  TODO variable the same as text width */
              margin-top: 1rem;
              /* margin-left: 3rem; */

              @media (--viewport-lg) {
                margin-left: calc(
                  var(--gap-md) / 2
                ); /* Visual padding for caption */
              }
            }
          }

          .two-up {
            @media (--viewport-lg) {
              display: flex;
              gap: calc(var(--gap-md) / 2);
            }
          }
        }

        > aside.meta {
          margin-top: var(--space-xl);
          border-top: 1px solid var(--color-border-secondary);
          padding-top: var(--space-l);

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          /* Have larger y axis gap for smaller breakpoints */
          /* This matches that in .directory */
          gap: var(--gap-lg) var(--gap-md);
          /* flex-direction: column; */
          /* gap: 2rem; */

          @media (--viewport-lg) {
            grid-column: 2;
            grid-row: 4;
          }

          > section {
            /* Trim off any margins from elsewhere */
            margin-trim: block;

            > h3 {
              /* font-weight: 500; */
              color: var(--color-text-tertiary);
              margin-bottom: 1rem;
            }

            &.tagged {
              grid-column: 1 / 3;
              grid-row: 1;
            }

            &.subscribe {
              /* Put RSS off to right */
              grid-column: 3 / 4;
              grid-row: 1;
              /* justify-self: end; */
            }

            &.related {
              grid-column: span 3;
              grid-row: 2;

              > ul {
                display: flex;
                flex-direction: column;
                gap: 0.25rem;
                > li > a {
                  /* Restore underline for links to related articles */
                  text-decoration: underline;
                  text-underline-offset: 1.5px;
                  text-decoration-color: var(--color-border-secondary);
                }
              }
            }
          }
        }
      }
    }
  }
}
