.article {
  > body {
    .page-header {
      margin-left: var(--margin-x);
      margin-right: var(--margin-x);
    }
    > main {
      > article {
        margin-top: 10rem;
        @media (min-width: 1024px) {
          display: grid;
          grid-template-columns: 1fr minmax(auto, 720px) 1fr;
          /* grid-template-columns: 200px 720px 200px; */
          gap: 5rem var(--gap-md);
        }

        > header,
        > aside.audience,
        .article-content {
          /* max-width: 720px; */
          /* margin: 0 auto; */
          @media (min-width: 1024px) {
            grid-column: 2;
          }
        }

        > header {
          @media (min-width: 1024px) {
            grid-row: 1;
          }

          > h1 {
            font-size: 72px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 79.2px */
            letter-spacing: -2.52px;
          }
          > p {
            /* TODO: replace with general styles also used in Home intros */
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.84px;
            color: var(--color-text-secondary);
          }
        }

        > aside.audience {
          @media (min-width: 1024px) {
            grid-row: 2;
          }
          /* margin-top: 5rem; */
          /* margin-bottom: 7rem; */
          border-top: 1px solid var(--color-border-secondary);
          border-bottom: 1px solid var(--color-border-secondary);
          padding: 2rem 0 1.25rem;

          > h2 {
            margin-bottom: 0.5rem;
            color: var(--color-text-tertiary);
          }
          > p {
            /* font-size: var(--font-size-sm); */
            color: var(--color-text-secondary);
          }
        }

        > aside.stage {
          @media (min-width: 1024px) {
            grid-row: 2;
            grid-column: 3;
            /* justify-self: end;
            align-self: end; */
            text-align: right;
          }
          > span:first-of-type {
            color: var(--color-text-secondary);
          }
          > span:last-of-type {
            color: var(--color-text-tertiary);
          }
        }

        > aside.toc {
          display: none;
          color: var(--color-text-tertiary);
          @media (min-width: 1024px) {
            display: inherit;
            grid-row: 2/3;
            grid-column: 1;
          }
        }

        .article-content {
          /* margin-top: 5rem; */
          @media (min-width: 1024px) {
            grid-row: 3;
          }

          > h2 {
            /* Re-use from somewhere else */
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 44px */
            letter-spacing: -1.4px;
          }

          > p,
          > dt,
          > dd,
          > li {
            font-size: 18px;
            letter-spacing: var(--letter-spacing-reg);
            line-height: var(--line-height-wide);
          }
        }
      }
    }
  }
}
