.home {
  > body {
    background-color: hsla(36, 100%, 92%, 1);
    background-color: white;
    transition: background-color 2s ease;

    &.visible {
      background-color: white;
    }
    /* margin: 0 auto; */
    /* margin-top: 25vh; */

    .crawl-header {
      margin: 0;
      /* Start slightly downward */
      margin-top: 25vh;
      max-width: 1800px;

      display: grid;
      gap: 0 2rem;

      @media (min-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        /* Set the side margins here since there won't be bleed on large displays */
        margin: 40vh var(--margin-sides) 3rem;
        /* margin-top: 40vh; */
        /* display: flex; */
        /* margin: 0 2.5rem; */
        /* Add some breathing room at bottom */
        padding-bottom: 25vh;
      }

      /* TODO: Do this media query dynamically */
      /* min-width: calc(1800px + var(--margin-sides)) */
      @media (min-width: calc(1960px)) {
        margin: 40vh auto 3rem;
      }

      .header-text {
        grid-column: 1;
        /* Set the side margins here since there will be bleed on smaller displayers */
        margin-left: var(--margin-sides);
        margin-right: var(--margin-sides);

        /* Set the fade-in animations  */
        --fadein-duration: 3s;
        /* Handle everything but the first paragraph */
        &:not(:first-of-type) {
          opacity: 0;
          animation: var(--fadein-duration) ease 2s forwards fadein;
        }
        /* Now handle first paragraph */
        /* It needs to be handled separately as it's split up into two parts */
        &:first-of-type {
          > p {
            > span {
              opacity: 0;
              &:nth-child(1) {
                /* Set an earlier delay here since we want it to appear first */
                animation: var(--fadein-duration) ease 0.25s forwards fadein;
              }
              &:nth-child(2) {
                animation: var(--fadein-duration) ease 1s forwards fadein;
              }
            }
          }
        }

        @keyframes fadein {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        > p {
          /* Style the left-side text */
          font-size: 48px;
          font-weight: 400;
          line-height: 116%;
          letter-spacing: -1.5px;
          /* Keep an optical width */
          max-width: 680px;

          > span.highlight {
            background-color: var(--color-bg-highlight);
          }
        }

        &:first-of-type {
          margin-bottom: 4rem;

          & p:first-of-type {
            font-weight: 500;
          }
        }
      }
    }

    .home-section {
      > header {
        border-top: 1px solid var(--color-border-primary);
        padding-top: 1rem;
        padding-bottom: 1rem;

        > h2 {
          /* font-family: ITC Franklin Gothic Std; */
          font-size: 56px;
          /* font-style: normal; */
          font-weight: 500;
          line-height: 110%; /* 61.6px */
          letter-spacing: -1.75px;
        }
        > p {
          color: var(--color-text-secondary);
          /* font-family: ITC Franklin Gothic Std; */
          font-size: 24px;

          letter-spacing: -0.8px;
        }
      }

      > ul.trove {
        display: grid;
        gap: 0 2.5rem;
        @media (min-width: 1024px) {
          grid-template-columns: repeat(4, minmax(0, 1fr));
          /* minmax is necessary to stop long strings from overriding. Previously: */
          /* grid-template-columns: repeat(4, 1fr); */
          grid-template-rows: masonry;
        }
        > li {
          border-top: 1px solid var(--color-border-secondary);
          > a {
            display: block;
            padding: 1.5rem 0;
            /* Set up transition */
            transition: opacity 0.3s ease;
            &:hover {
              opacity: 0.5;
            }

            /* The image component */
            > img {
              max-width: 100%;
            }
            /* The text component */
            /* Reset standard link color and underline */
            color: inherit;
            text-decoration: none;
            /* Style inside */
            & div {
              & h3,
              & p {
                margin: 0;
              }
              & h3 {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 115%; /* 23px */
                letter-spacing: -0.2px;
              }
              & p {
                margin-top: 0.25rem;
                /* Style */
                color: var(--color-text-secondary);
                font-size: 14px;
                line-height: 125%; /* 17.5px */
                letter-spacing: -0.14px;
                /* Truncate text */
                /* https://css-tricks.com/almanac/properties/l/line-clamp/ */
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
              }
            }
            /* Style outbound link */
            .outbound-link {
              /* Reset margins */
              margin: 0;
              margin-top: 0.5rem;
              /* padding: 0; */
              /* Give it a nice little icon */
              /* Add flex for optical positioning*/
              display: flex;
              gap: 0.1875rem;
              align-items: center;
              &:after {
                content: url(/assets/images/arrow-se.svg);
                opacity: 0.5;
              }
              > small {
                /* Style */
                color: var(--color-text-secondary);
                font-size: 12px;
                letter-spacing: -0.12px;
                /* Show underline since it's visually a actual link */
                text-decoration: underline;
                /* Truncate text in case the URL is long */
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}
