.tag-list {
  --tag-margin-x: 0.5rem;

  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-left: calc(-1 * var(--tag-margin-x));
  margin-bottom: var(--margin-y);

  > li > a {
    display: block;
    padding: var(--tag-margin-x) 0.75rem;
    border-radius: 2rem;
    color: var(--color-text-primary);
    font-size: 1rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.0125rem;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-swatch-code);

      /* Reset more global styles */
      opacity: 1;
    }

    &.selected {
      font-weight: 500;
      background-color: var(--color-text-primary);
      color: var(--color-background);

      &:hover {
        background-color: var(--color-text-secondary);
      }
    }
  }
}
