body {
  margin: 0 auto;
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  max-width: 1440px;
}

nav, header, footer, section {
  border-top: 1px solid black;
}

nav, article, section {
  grid-column: span 2;
}


/* 507 or 694 */
@media only screen and (min-width: 560px)  {
  body {
    grid-template-columns: repeat(4, 1fr);
  }
  article {
    grid-column: span 3/5;
  }
  nav {
    grid-column: span 1;
  }
  section {
    grid-column: span 2;
  }
  section.major {
    grid-column: span 3;
  }
  section.minor {
    grid-column: span 1;
    display: none;
  }
  section.deep {
    grid-row: span 2;
  }
  header {
    grid-column: span 3/5;
  }
}
@media only screen and (min-width: 1025px)  {
  body {
    grid-template-columns: repeat(6, 1fr);
  }
  article {
    grid-column: span 3/6;
  }
  nav {
    /* Normal */
    grid-column: span 1/3;
    /* Full */
    /* grid-column: span 2; */
  }
  section {
    grid-column: span 2;
  }
  section.minor {
    grid-column: span 1;
    display: inline;
  }
  section.minor {
    grid-column: span 1;
  }
}
