body {
  /* margin: 1em auto 0; */
  /* padding: .5em; */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

article, section, h1 {
  grid-column: span 6;
}

nav {
  grid-column: span 6;
}

@media only screen and (min-width: 694px)  {
  nav {
    grid-column: span 3;
  }

  h1 {
    grid-column: span 4;
  }

  .full {
    grid-column: span 6;
    /* grid-row: 3; */
  }

  .almost {
    grid-column: span 5;
  }

  .half {
    grid-column: span 3;
  }

  .deep {
    grid-row: span 2;
  }

  .sink {
    align-self: end;
  }
  article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 1em;
  }

  article header {
    grid-column: span 2;
  }

  article > section {
    grid-column: 3/7;
  }
  /* article p {
    grid-column: 2/7;
  }

  article header {
    grid-column: 1/6;
  } */
}
