body {
  margin: 0 auto;
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  max-width: 1440px;
}

header, footer, section {
  border-top: 1px solid black;
}

article, section {
  grid-column: span 2;
}



@media only screen and (min-width: 425px)  {
  body {
    grid-template-columns: repeat(4, 1fr);
  }
  article {
    grid-column: span 3/5;
  }
  nav {
    grid-column: span 1;
  }
  section {
    grid-column: span 2;
  }
  section.major {
    grid-column: span 3;
  }
  section.minor {
    grid-column: span 1;
    display: none;
  }
  header {
    grid-column: span 3/5;
  }
}
@media only screen and (min-width: 1025px)  {
  body {
    grid-template-columns: repeat(6, 1fr);
  }
  article {
    grid-column: span 3/6;
  }
  section {
    grid-column: span 2;
  }
  nav {
    grid-column: span 2;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
  }
  nav section.one {
    grid-column: span 1;
  }
  nav section.minor {
    grid-column: span 1;
  }

  section.minor {
    /* grid-column: span 1; */
    display: inline;
  }
  section.max {
    grid-column: span 4;
  }
}
