* {
  box-sizing: border-box;
}
body {
  /* Defining what one em unit is */
  font-size: 14pt;
  font-family: sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

img,
video {
  width: 100%;
  /* height: 100%; */
}
figure {
  margin: 0;
}

/* Nav <@> */
nav svg {
  width: 5.25rem;
}
