/*  Text
    color: rgba(60, 60, 60, 1);

    Subtle Text
    color: rgba(148, 148, 148, 1);

    Highlight Green
    color: rgba(5, 242, 186, 0.4);

    Gallery Grey
    color: rgba(240, 240, 240, 0.45);
*/

/* I'm using the Inter UI font family */
/* See https://rsms.me/inter */
@import url("https://rsms.me/inter/inter-ui.css");

/* Setup */
:root {
  scroll-behavior: smooth;
  /* https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
  /* Only supported in Firefox right now */
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
}
img,
video {
  width: 100%;
  height: 100%;
}

/* Base */
body {
  /* Defining what one em unit is */
  font-size: 13pt;
  color: rgba(60, 60, 60, 1);
  font-family: "Inter UI", sans-serif;

  background: #f8f8f8;
  margin: 0;

  /* -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 */
}

/* Homepage content */
body > h1,
body > h2, 
body > p,
body > ul {
  max-width: 60rem; /* 640px */
}
/* Homepage content */
/* Article content */
header,
article > section > *,
article > section > .media > figure > figcaption,
article > section > .media > label {
  max-width: 40rem; /* 640px */
}
/* Extend the above list—except for labels within .grid—to be centered */
body > h1,
body > h2, 
body > p,
body > ul,
/* Article content */
header,
article > section > *,
article > section > .media > figure > figcaption,
article > section > .media:not(.grid) > label {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

article > section > .media {
  max-width: 90rem; /* 1440px */
  max-width: 1200px;
  margin: 1.5rem auto; /* Break bounds of body margin */
  padding-left: 0;
  padding-right: 0;
}

figure {
  margin: 0;
}

nav, footer {
  margin-left: 3vw;
  margin-right: 3vw;
}

/* Navigation  */
nav, footer {
  margin-top: 3em;
  margin-bottom: 3em;
}

footer {
  margin-top: 6em;
}

nav svg {
  width: 4em;
  fill: rgba(60, 60, 60, 1);
  margin-bottom: 0.5em;
}
/* Fancy back button */
nav.back a p {
  position: absolute;
  top: 2.72em;
  margin-left: -0.5em;
  transition: 0.2s ease;
  opacity: 0;
}
nav.back a:hover > p {
  margin-left: -0.65em;
  opacity: 1;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

p,
ul:not(ul.plain),
ol {
  margin-top: 0.5em;
}

h1 {
  font-size: 2.2em;
  /* margin-top: 0.1em; */
  line-height: 1.5;
}

h2 {
  font-size: 1.6em;
  margin-top: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  line-height: 1.4;
}

h3 {
  margin-top: 1.25em;
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

p,
ul li,
ol li {
  line-height: 1.6;
}

ul {
  list-style-position: inside;
}
@media only screen and (min-width: 640px) {
  ul {
    list-style-position: outside;
  }
}

blockquote,
time,
figcaption,
label,
nav.back a p {
  color: rgba(148, 148, 148, 1);
}

.media {
  margin: 1.5em 0 2em;
}

figcaption,
label {
  font-size: 0.8em;
  margin-top: 0.2em;
  line-height: 1.5em;
  letter-spacing: 0.015em;
}
label.hyphenate {
  word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* Ragged paragraphs */
/* p + p {
  text-indent: 1.5rem;
} */

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
  /* transition: box-shadow 0.1s ease; */
}
figcaption a,
label a {
  background-color: rgba(148, 148, 148, 0.1);
}
figcaption a:hover,
label a:hover {
  background-color: rgba(148, 148, 148, 0.15);
}

h1 a,
h2 a,
p a,
li a {
  background-color: rgba(5, 242, 186, 0.4);
  /* box-shadow: inset 0 -0.15em 0 0 rgba(5, 242, 186, 0.4); */
}
h1 a:hover,
h2 a:hover,
p a:hover,
li a:hover {
  background-color: rgba(5, 242, 186, 0.7);
  /* box-shadow: inset 0 -0.35em 0 0 rgba(5, 242, 186, 0.4); */
}

/* Line breaks */
hr {
  border-style: solid;
  border-width: 0.75px;
  border-color: rgba(60, 60, 60, 0.08);
  margin: 2em 0;
  width: 60vw;
}

/* Lists */
/* ul.inline,
ul.plain {
  padding: 0;
} */
ul.inline li {
  display: inline;
}
ul.inline li:before {
  content: "  /  ";
}
ul.inline li:first-child:before {
  content: "";
}
ul.inline li:last-child:after {
  content: ".";
}
ul.plain {
  list-style: none;
}
ul.plain h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}
ul.plain li {
  margin-bottom: 2em;
}
ul.plain li:last-of-type {
  margin-bottom: 0;
}

/* Code */
pre {
  white-space: pre-wrap;
}
code {
  background-color: rgba(148, 148, 148, 0.1);
  font-family: "Monaco", monospace;
  font-size: 0.95em;
}

/* Post-specific */
article header {
  margin-bottom: 2em;
}

/* Post-specific: iframes */
/*
  https://benmarshall.me/responsive-iframes/
  superseeded by...
  https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
*/
.intrinsic-container {
  position: relative;
}
/* 16x9 Aspect Ratio */
.intrinsic-container:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
.intrinsic-container > iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.tweet > iframe {
  margin-left: auto;
  margin-right: auto;
}

/* Animations */
/* Shared settings */
body,
nav,
h1,
article header,
section {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

/* Timing for each */
body {
  animation-delay: 0s;
}
nav {
  animation-delay: 0.1s;
}

h1,
article header {
  animation-delay: 0.2s;
}

section {
  animation-delay: 0.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
