/* General */
:root {
    --itemGap: 1rem;
    --foregroundColor: black;
    --halfColor: rgba(0, 0, 0, 0.15);
    --gridStructure: 1fr 1fr 1fr;
}

h1 {
    font-size: 3rem;
}
img, video {
    max-width: 100%;
    background-color: var(--halfColor);
}

body {
    margin: var(--itemGap);
}


/* Header */
body > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
body > header svg {
    width: 8rem;
}

body > header nav ul {
    padding-left: 0;
}
body > header nav ul li {
    display: inline;
    margin-left: var(--itemGap);
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: var(--gridStructure);
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

/* Home */
h1.home-intro {
    max-width: 66%;
}

ul.projects {
    list-style-type: none;
    padding-left: 0;
}

ul.projects li {
    margin-bottom: var(--itemGap);
}

ul.projects li a {
    text-decoration: none;
    color: inherit;
    display: grid;
    grid-template-columns: var(--gridStructure);
    gap: var(--itemGap);
}

ul.projects li a img {
    grid-column: span 2;
}


/* Project */
article > header {
    /* Consider replacing with flex once all browsers support `gap` for flex */
    display: grid;
    grid-template-columns: var(--gridStructure);
    gap: var(--itemGap);
}

article > header div {
    grid-column: span 2;
}

article > header ul {
    grid-column: 3;
    list-style-type: none;
    padding-left: 0;
}



/* Project: grid templates */
.one-vertical-two-horizontal {
    display: grid;
    grid-template-columns: var(--gridStructure);
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--itemGap);
    /* Must match Safari definitions below */
    height: 80vh;
}

.one-vertical-two-horizontal img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.one-vertical-two-horizontal img:nth-child(1) {
    grid-column: 1;
    grid-row: span 2;
    /* Explicitly declare height for Safari */
    height: 80vh; 
}
.one-vertical-two-horizontal img:nth-child(2) {
    grid-column: 2 / 4;
    grid-row: 1;
    /* Explicitly declare height for Safari */
    height: calc(40vh - 0.5rem);
}
.one-vertical-two-horizontal img:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2;
    /* Explicitly declare height for Safari */
    height: calc(40vh - 0.5rem);
}

/* Notes */
ul.notes {
    list-style-type: none;
    padding-left: 0;
}

ul.notes li {
    display: grid;
    grid-template-columns: var(--gridStructure);
    gap: var(--itemGap);
}

ul.notes li div:nth-child(1) {
    grid-column: 1;   
}

ul.notes li div:nth-child(2) {
    grid-column: 2 / 4;
}

/* About */
.single-hero {
    max-width: 66.67%;
}