/*  Text
    color: rgba(60, 60, 60, 1);

    Subtle Text
    color: rgba(148, 148, 148, 1);

    Highlight Green
    color: rgba(5, 242, 186, 0.4);

    Gallery Grey
    color: rgba(240, 240, 240, 0.45);
*/

/* I'm using the Inter UI font family */
/* See https://rsms.me/inter */
@import url('https://rsms.me/inter/inter-ui.css');

/* Setup */
:root {
  scroll-behavior: smooth;
  /* https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
  /* Only supported in Firefox right now */
}

* {
  box-sizing: border-box;
}

img,
video {
  width: 100%;
  height: 100%;
}

/* Base */
body {
  /* Defining what one em unit is */
  font-size: 14pt;
  color: rgba(60, 60, 60, 1);
  font-family: 'Inter UI', sans-serif;

  max-width: 960px;
  margin: 0 auto;
  padding: 2em 1em;

  /* Grid */
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

/* Grid */
nav, article, section, h1 {
  grid-column: span 6;
}

@media screen and (min-width: 694px)  {
  nav {
    grid-column: span 3;
  }

  h1 {
    grid-column: span 4;
  }

  .almost {
    grid-column: span 5;
  }

  .half {
    grid-column: span 3;
  }

  .deep {
    grid-row: span 2;
  }

  .sink {
    align-self: end;
  }
}

  article {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 3em;
    grid-row-gap: 1em;
  }
  article header {
    grid-column: span 2;
  }

  article > section {
    grid-column: 3/7;
}

/* Navigation  */
nav svg {
  max-width: 4em;
  fill: rgba(60, 60, 60, 1);
}
  /* Fancy back button */
  nav.back a p {
    position: absolute;
    top: 1.73em;
    margin-left: -0.5em;
    transition: 0.2s ease;
    opacity: 0;
  }
  nav.back a:hover > p {
    margin-left: -0.65em;
    opacity: 1;
  }

/* Typography */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

p {
  margin-top: .5em;
}

h1 {
  font-size: 2.2em;
  margin-top: 0.1em;
  margin-bottom: 0.4em;
}

h3 {
  line-height: 1.3em;
}

p,
/* ul.inline, */
ul li:not(ul.plain li),
ol li {
  line-height: 1.6em;
}

blockquote,
time,
figcaption,
label,
nav.back a p {
  color: rgba(148, 148, 148, 1);
}

.media {
  margin: 1.5em 0 2em;
}

figcaption,
label {
  font-family: 'Monaco', 'Inter UI', sans-serif;
  font-size: .75em;
  margin-top: 0.5em;
  line-height: 1.5em;
}

/* Ragged paragraphs */
p + p {
  text-indent: 1.5rem;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  transition: background-color 0.2s ease;
  /* transition: box-shadow 0.1s ease; */
}
figcaption a,
label a {
  background-color: rgba(148, 148, 148, 0.1);
}
figcaption a:hover,
label a:hover {
  background-color: rgba(148, 148, 148, 0.15);
}

h1 a,
h2 a,
p a,
li a {
  background-color: rgba(5, 242, 186, 0.4);
  /* box-shadow: inset 0 -0.15em 0 0 rgba(5, 242, 186, 0.4); */
}
h1 a:hover,
h2 a:hover,
p a:hover,
li a:hover {
  background-color: rgba(5, 242, 186, 0.7);
  /* box-shadow: inset 0 -0.35em 0 0 rgba(5, 242, 186, 0.4); */
}

/* Line breaks */
hr {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(60, 60, 60, 0.08);
  margin: 2em 0;
}

/* Lists */
ul.inline,
ul.plain {
  padding: 0;
}
ul.inline li {
	display: inline;
}
  ul.inline li:before {
  	content: '  /  ';
  }
  ul.inline li:first-child:before {
  	content: '';
  }
  ul.inline li:last-child:after {
  	content: '.';
  }
ul.plain {
  list-style: none;
}
  ul.plain h3 {
    margin-bottom: .5em;
    margin-top: 1.5em;
  }
  ul.plain li {
    margin-bottom: 2em;
  }
  ul.plain li:last-of-type {
    margin-bottom: 0;
  }


/* Post-specific */
article header {
  margin-bottom: 2em;
}
article figure,
figure.gallery {
  margin: 0;
}
figure.gallery {
  background-color: rgba(240, 240, 240, 0.45);
  width: 100%;
  height: 15em;
  line-height: 15em;
  text-align: center;
  transition: 0.2s ease;
}

  figure.gallery img {
    width: auto;
    max-height: 10em;
    vertical-align: middle;
    /* box-shadow: 0.35em 0.82em rgba(60, 60, 60, 0.45); */
    box-shadow: 0.3em 0.6em rgba(5, 242, 186, 0.4);
    transition: 0.15s ease;
  }
  figure.gallery:hover > img {
    /* opacity: 0.9; */
    transform: translateY(-3px);
    /* box-shadow: 0.35em 0.82em rgba(60, 60, 60, 0.45); */
    box-shadow: 0.35em 0.82em rgba(5, 242, 186, 0.6);
  }

/* Post-specific: iframes */
/*
  https://benmarshall.me/responsive-iframes/
  superseeded by...
  https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
*/
.intrinsic-container {
  position: relative;
}
  /* 16x9 Aspect Ratio */
  .intrinsic-container:before {
    display: block;
    content: '';
    width: 100%;
    padding-top: 56.25%;
  }
  .intrinsic-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

  }
  .tweet > iframe {
    margin-left: auto;
    margin-right: auto;
  }

/* Animations */
nav,
h1,
article header {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

section {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
