/*
p color:                          rgba(0, 0, 0, 0.7)
post-meta color:                  rgba(0, 0, 0, 0.17) (simlar to 'lightgrey');
figcaption color:                 rgba(0, 0, 0, 0.35);

hr, greyscale background-color:   rgba(0, 0, 0, 0.1)
*/

:root {
  scroll-behavior: smooth;
  /* https://css-tricks.com/almanac/properties/s/scroll-behavior/ */
  /* Only supported in Firefox right now */
}

body {
  max-width: 40rem; /* 640px */
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: 'Input Sans Lt', sans-serif;
}

/* Headers */
h1 {
  font-size: 2.5rem;
  letter-spacing: -0.1rem;
}

h2 {
  margin-top: 3rem;
  margin-bottom: 0.75rem;
  letter-spacing: -0.06rem;
  line-height: 1rem;
}

h3 {
  margin-top: 2rem;
  letter-spacing: -0.05rem;
  line-height: 1.5rem;
  margin-bottom: -0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; /* not bold */
}

p, ul, ol {
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.666667rem;
  letter-spacing: -0.04rem;
}

/* Links except for header <@> */
/* Extended arguments not supported yet in browsers apart from Safari */
/* See https://developer.mozilla.org/en-US/docs/Web/CSS/:not#Browser_compatibility */
/*a:not(header a:first-of-type) {*/
h1 a,
h2 a,
p a,
li a {
  text-decoration: none;
  color: inherit;
  background-color: rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

/*a:not(header a:first-of-type):hover {*/
h1 a:hover,
h2 a:hover,
p a:hover,
li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* Ragged paragraphs */
p + p {
  text-indent: 1.5rem;
}

/* line breaks */
hr {
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
}

figure {
  margin: 0;
}

figcaption {
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
  line-height: 1.3333333rem;
  color: rgba(0, 0, 0, 0.35);
  width: 80%;
  margin: 0.5rem auto 0;
}

/* Header */
header {
  margin-bottom: 3rem;
}

/* Header <@> */
header svg {
  width: 5.25rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem; /* Optical align with header ul*/
}

/* Header navigation on right */
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
header ul li {
  display: inline-block;
  text-align: right;
  padding-left: 1rem;
}

/* Don't break the text, and keep it light */
span.post-meta, time {
  color: rgba(0, 0, 0, 0.17);
  white-space: nowrap;
}

/* Home */
.home h1,
.home section:not(section:last-of-type) {
  margin-bottom: 4rem;
}

.home h1 a {
  color: rgba(0, 0, 0, 0.55);
}

/* Need 100% or they go full-size */
img {
  width: 100%;
}

/* iframes */
/*https://benmarshall.me/responsive-iframes/*/
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container {
  padding-bottom: 56.25%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.jekyll-twitter-plugin iframe {
  margin: 0 auto;
}

/* Top and bottom margins on all post media */
.post-img,
.intrinsic-container,
.jekyll-twitter-plugin {
  margin: 1.5rem 0;
}


/* Animations */
h1,
.post-header {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.page-content section,
.post-content {
  opacity: 0;
  animation-name: fadein;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
