// Distance converter

// Only style inline items to be interactive if JS is enabled
html:not(.no-js) p .distance {
  background-color: var(--color-swatch-hero);
  &:hover {
    cursor: pointer;
  }
}

// TODO: add a little 'swap' icon :after inline items to show that they can be swapped?

// Only show distance converter fieldset if JS is enabled
.no-js .distance-converter {
  display: none;
}

.distance-converter {
  // Safari stylesheet base
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-width: min-content;
  // Begin custom styles
  margin-bottom: var(--spacing-sm);
  border: 1px solid var(--color-border-primary);
  // padding: 0.75rem 1rem;
}

input[type="radio"] {
  appearance: radio;
  cursor: pointer;
}
input[type="radio"] + label {
  cursor: pointer;
}
