/* Notes */
ul.notes {
  /* Match grid and gap from parent */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px;
  gap: var(--grid-gap-lg);

  li {
    grid-column: span 3;
    height: 185px;
    // Set to flex so <a/> child can take full size
    display: flex;

    a {
      // Take full size of parent container
      flex-grow: 1;
      // Style
      color: var(--color-text-on-spot);
      background-color: var(--color-spot);
      transition: var(--transition-background-color);
      border-radius: var(--radii);
      padding: 1.5rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-decoration: none;
      font-weight: 700;

      &:hover {
        background-color: var(--color-spot-hover);
      }
    }
  }
}
