/* Clients */
dl.clients.scene {
  /* Set 3D scene */
  width: 100%;
  perspective: 600px;
  /* perspective-origin: 50% 50%; */
  /* border: 1px solid #ccc; */
}

dl.clients.scene .object-3d.prism {
  /* background: rgba(200, 200, 200, 0.25); */
  /* Set full size so transform-origin occurs in center of container  */
  width: 100%;
  height: 4rem;
  /* Set 3D object */
  position: relative;
  transform-style: preserve-3d;
  /* TODO: remove once no longer needed */
  -webkit-transform-style: preserve-3d;
  /* Push 3D object back to original Z origin */
  transform: rotateX(0deg) translateZ(-2rem);
  /* Set transition */
  transition: transform cubic-bezier(0.34, 1.26, 0.64, 1) 750ms;
}

/* Add some spacing between items */
dl.clients.scene .object-3d.prism:not(:last-of-type) {
  margin-bottom: 2.5rem;
}

/* Don't show last two items except on larger screens */
dl.clients.scene .object-3d.prism:nth-last-child(-n + 2) {
  display: none;
}
@media (min-width: 640px) {
  dl.clients.scene .object-3d.prism:nth-last-child(-n + 2) {
    display: inherit;
  }
}

.object-3d.face {
  /* background: rgba(200, 200, 200, 0.25); */
  width: 100%;
  height: 4rem;
  position: absolute;
  backface-visibility: hidden;
  /* TODO: remove once no longer needed */
  /* https://caniuse.com/mdn-css_properties_backface-visibility */
  -webkit-backface-visibility: hidden;
  /* Set transition */
  transition: opacity 200ms 50ms;
}

.object-3d.face.active {
  opacity: 1;
}

.object-3d.face.hidden {
  opacity: 0;
}

.object-3d.face.front {
  transform: rotateY(0deg) translateZ(2rem);
}

.object-3d.face.back {
  transform: rotateY(180deg) rotateZ(180deg) translateZ(2rem);
}

.object-3d.face.upper {
  transform: rotateX(90deg) translateZ(2rem);
}

.object-3d.face.base {
  transform: rotateX(-90deg) translateZ(2rem);
}

/* Non 3d stuff */
dl.clients dt {
  /* line-height: var(--line-height-p); */
  font-weight: bold;
  margin-bottom: 0.5rem;
}

dl.clients ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  color: var(--color-secondary);
}

dl.clients ul li:not(:last-of-type)::after {
  content: " •";
  margin-left: 0.25rem;
}
