/* Grid */
body {
  background-color: var(--color-background);
  transition: var(--transition-color-scheme);
  // Purposefully independent of grid gap sizes
  padding: var(--spacing-sm);

  @media (min-width: 1024px) {
    padding: var(--spacing-lg);
  }
}
