body > footer {
  border-top: var(--stroke-thick) solid var(--color-border-primary);
  // box-shadow for second visual border
  box-shadow: inset 0 4px 0 0 var(--color-background),
    inset 0 5px 0 0 var(--color-border-primary);
  // Increase padding-top to take into account above border
  padding-top: calc(var(--grid-gap-main) + 5px);
  margin-top: calc(var(--grid-gap-main) * 1.5);

  display: grid;
  gap: var(--grid-gap-main);

  .logo-link {
    grid-row: 1;
    transition: var(--transition-text-opacity);

    &:hover {
      opacity: var(--transition-text-opacity-result);
    }
  }
  .socials {
    grid-row: 3;
  }

  .subtitle {
    grid-row: 2;
  }

  @media (min-width: 1024px) {
    // Match grid and gap from site-wide grid
    grid-template-columns: var(--grid-template-cols-main);

    .logo-link,
    .subtitle,
    .color-switch,
    .socials {
      grid-row: 1;
    }

    .logo-link {
      grid-column: 1;
    }

    .subtitle {
      grid-column: span 5;
    }

    .color-switch {
      grid-column: 7;
      justify-self: end;
    }

    .socials {
      grid-column: 8 / 13;
      // Optically align
      transform: translateY(-16px);
    }
  }

  @media (min-width: 1280px) {
    .subtitle {
      grid-column: span 4;
    }

    .color-switch {
      grid-column: 8;
      justify-self: end;
    }

    .socials {
      grid-column: 9 / 13;
    }
  }

  // Subtitle
  .subtitle {
    p {
      font-size: 12px;
      color: var(--color-text-secondary);
    }
  }

  /* Socials */
  .socials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Match column gap from parent grid */
    // grid-row-gap: 1rem;

    li {
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      line-height: normal;

      // Add a border after each 'row' except for the last
      &:not(:nth-last-child(-n + 2)) {
        border-bottom: var(--stroke-thin) solid var(--color-border-secondary);
      }

      a {
        // Set link text to full size of container, visually at center left
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.75rem 0;
      }
    }
  }
}
