body > header {
  margin-bottom: var(--grid-gap-main);
  border-bottom: var(--stroke-thin) solid var(--color-border-primary);

  .meta {
    display: none;
  }

  .strip {
    border-bottom: var(--stroke-thick) solid var(--color-border-primary);
    margin-bottom: 4px;
    // Spread out both rows of header content

    a {
      display: flex;
      justify-content: space-between;
    }
  }

  @media (min-width: 1024px) {
    .strip {
      border-bottom: none;
      margin-bottom: 0;
    }
    .meta {
      display: flex;
      justify-content: space-between;
      padding-bottom: var(--spacing-sm);
      border-bottom: var(--stroke-thin) solid var(--color-border-primary);
      // TODO: Get slashed zero to work
      font-feature-settings: "zero";
      font-variant-numeric: slashed-zero;
    }
  }

  // Style meta(data) row
  .meta > * {
    color: var(--color-text-secondary);
  }

  // Style strip row
  .strip a {
    padding: var(--spacing-xs) 0;
    transition: var(--transition-text-opacity);

    &:hover {
      opacity: var(--transition-text-opacity-result);
    }

    // Name
    span {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
