:root {
  /* Text */
  --color-text-primary: hsla(0, 0%, 0%, 1);
  --color-text-secondary: hsla(0, 0%, 25%, 1);
  --color-text-highlight: hsla(36, 75%, 52%, 1);
  /* Backgrounds */
  --color-bg-highlight: hsla(36, 100%, 92%, 1);
  /* Borders and strokes */
  --color-border-primary: var(--color-text-primary);
  --color-border-secondary: hsla(0, 0%, 88%, 1);
}
