@font-face {
  font-family: "ITC Franklin Gothic";
  /* Give precedence to local() in your src list: listing local('Font Name') first in your src list ensures that HTTP requests aren't made for fonts that are already installed.
   */
  /* https://web.dev/reduce-webfont-size/#web-font-size-optimization-checklist */
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Book.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "kern" 1, "pnum" 1;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "kern" 1;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Medium-Italic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Demi.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  font-feature-settings: "kern" 1;
}

@font-face {
  font-family: "ITC Franklin Gothic";
  src: local("ITC Franklin Gothic"),
    url(/assets/fonts/ITC-Franklin-Gothic_Demi-Italic.woff2) format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
