/* Custom media queries */
/* https://lightningcss.dev/transpilation.html#custom-media-queries
 */
@custom-media --viewport-sm (min-width: 732px);
@custom-media --viewport-md (min-width: 1024px);
@custom-media --viewport-lg (min-width: 1280px);
@custom-media --viewport-xl (min-width: 1800px);

:root {
  /* Widths */
  --width-max: 1800px;
  /* Spacing */
  --spacing-margin-x-md: 1rem;
  --spacing-xs: 1rem;
  --spacing-md: 2.5rem;
  --spacing-lg: 3.5rem;
  /* Borders */
  --stroke-thick: 2px;
  --stroke-thin: 1px;
  /* Grids */
  --grid-template-cols-main: repeat(4, 1fr);
  --gap-md: 2.5rem;
  --gap-lg: 3.5rem;
  @media (--viewport-md) {
    --gap-md: 5rem;
  }
  /* Margins */
  /* Basic left-and-right section margins, often on the entire page */
  --margin-x: 1rem;
  @media (--viewport-md) {
    --margin-x: 2.5rem;
  }
  @media (--viewport-xl) {
    --margin-x: 6rem;
  }
  /* Basic top-and-bottom margins, often the entire page */
  --margin-y: 5rem;
  --spacing-margin-bottom: 15rem;
  @media (--viewport-md) {
    --margin-y: 15rem;
  }
}

html {
  background-color: var(--color-background);
  transition: var(--transition-color-scheme);
}

/* p {
  margin: 1rem 0;
} */

/* Don't show a JavaScript element if the user has it turned off */
.no-js .js-content {
  display: none;
}

main {
  /* Set basic margins */
  margin-left: var(--margin-x);
  margin-right: var(--margin-x);
}

img {
  /* Override our reset to prevent stretched images */
  height: auto;
  /* Set a background fill whilst the image loads */
  background-color: var(--color-swatch-a);
}
