---
layout: default
---

<article>
  <header>
    <h1>{{ page.title | escape }}</h1>
    <p>An ever-growing cheatsheet for {% if page.url %}<a href="{{ page.url }}" target="_blank" rel="noopener noreferrer">{{ page.title | escape }}</a>{% else %}{{ page.title | escape }}{% endif %}. I add things that I think are useful but difficult to unearth or understand.</p>

    {% if page.otherResources %}
    <p>General resources that I find helpful for {{ page.title | escape }}:</p>
    <ul>
      {% for item in page.otherResources %}
      <li><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.contents %}
    <h2>Contents</h2>
    <ol>
      {% for item in page.contents %}
      <li><a href="#{{ item | slugify }}">{{ item }}</a></li>
      {% endfor %}
    </ol>
    {% endif %}
  </header>

  <section>
    {{ content }}
  </section>


</article>