---
layout: compress
---
{% assign current = page.title | downcase %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}
<!-- lzy.js -->
<!-- Eventually upgrade to browser support: -->
<!-- https://web.dev/browser-level-image-lazy-loading/ -->
<script src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver"> </script>
<script src="/assets/lzy.min.js"></script>


<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
  {% include footer.html %}
</body>

<script>lzy();</script>

</html>