---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="container-text gallery-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="gallery-content" itemprop="articleBody">
    <div class="container-text">
      <!-- Whole gallery intro -->
      {{ content }}
    </div>

    {% for spread in page.spreads %}
    {% if spread.intro %}
      <div class="container-text">
        <h2>{{ spread.intro.title }}</h2>
        <p>{{ spread.intro.text }}</p>
      </div>
    {% endif %}
    <div class="container-media">
        <div class="{{ spread.type }}">
          {% for image in spread.photos %}
            <img src="/assets/posts/{{ page.slug }}/{{ image }}" {% if include.alt %} alt="{{ include.alt }}" {% endif %} {% if include.width %} width="{{ include.width }}" {% endif %}/>
          {% endfor %}

          {% if spread.caption %}
            <p>{{ spread.caption }}</p>
          {% endif %}
        </div>
      {% endfor %}
    </div>



  </div>
</article>
