---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="gallery-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="gallery-content" itemprop="articleBody">
    {{ content }}

    <!-- Get the URL slug -->
    {% capture imagePath %}{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}/{{ include.name }}{% endcapture %}

    <!-- Go through all images -->
    {% assign image_files = site.static_files | where: "image", true %}
    <!-- Only take images that match the URL slug -->
    {% for image in site.static_files %}
      {% if image.path contains imagePath %}
      <img src="{{ image.path }}" alt="">
      {% endif %}
    {% endfor %}

  </div>
</article>
