---
layout: default
---

<section class="major">
  <h1>Danny White is an Australian product designer currently based in New York City.</h1>
</section>

<section class="minor">
  <p>Right now in New York, NY:</p>
  <ul>
    <li>2017</li>
    <li>Monday, 15th January</li>
    <li>29 F with clouds</li>
  </ul>
</section>

<section class="two">
  <h2>Working on</h2>
  <ul>
    <li>Designing the Kickstarter <a href="https://itunes.apple.com/app/apple-store/id596961532">iOS</a> and <a href="https://play.google.com/store/apps/details?id=com.kickstarter.kickstarter">Android</a> apps</li>
    <li>Rebuilding the <a href="https://www.kickstarter.com/start">Starting a project</a> part of Kickstarter</li>
    <li>Design systems at Kickstarter</li>
    <li>(Re-)learning German</li>
    <li>The circle of 5ths</li>
  </ul>
</section>

<section class="three">
  <h2>Thinking about</h2>
  <ul>
    <li>Human extinction due to human-induced climate change</li>
    <li>Why exactly is Virginia "for lovers"?</li>
  </ul>
</section>

<section class="one">
  <h2>Reading</h2>
  <ul>
    <li>
      <!-- <img src="https://upload.wikimedia.org/wikipedia/en/9/91/How_Buildings_Learn_%28Stewart_Brand_book%29_cover.jpg" alt="How Buildings Learn by Stewart Brand"> -->
      <a href="https://www.youtube.com/watch?v=AvEqfg2sIH0">How Buildings Learn</a> by Stewart Brand
    </li>
  </ul>
  <p><a href="#">All my reads ></a></p>
</section>

<section class="two">
  <h2>Writing</h2>
  <ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      {% assign date_format = "%b %Y" %}
      ({{ post.date | date: date_format }})
    </li>
    {% endfor %}
  </ul>
</section>

<section class="four">
  <h2>Doodle of the week</h2>
  <img src="" alt="">
  <p><a href="#">Past drawings of the week ></a></p>
</section>

<section>
  <h2>Events</h2>
  <ul>
    <li><a href="https://framer.com/community/">Framer Sessions New York</a> (2015–present)</li>
    <li><a href="https://generalassemb.ly/education/user-experience-design-immersive">General Assembly guest lectures</a> (2016)</li>
  </ul>
</section>

<section>
  <h2>Projects</h2>
  <ul>
    <li><a href="http://dannywhite.is/contextkit-for-origami">ContextKit</a> (2017–present)</li>
    <li><a href="http://dannywhite.is/aussie-american">Aussie American</a> (2017–present)</li>
    <li><a href="https://github.com/ustwo/branded-interactions">Branded Interactions</a> (2015)</li>
  </ul>
</section>

<section>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="&#x6d;&#x61;&#x69;&#x6c;&#116;&#x6f;&#x3a;&#x77;&#104;&#x69;&#x74;&#x65;&#46;&#x64;&#x61;&#x6e;&#105;&#x65;&#108;&#x2e;&#106;&#x61;&#x6d;&#x65;&#x73;&#64;&#x67;&#x6d;&#97;&#x69;&#x6c;&#x2e;&#x63;&#x6f;&#109;">Email</a></li>
    <!-- http://robspangler.com/blog/encrypt-mailto-links-to-stop-email-spam/ -->
    <li><a href="https://twitter.com/dannyalright">Twitter</a></li>
    <li><a href="https://instagram.com/dannywhite/">Instagram</a></li>
    <li><a href="https://github.com/dannyalright">GitHub</a></li>
    <li><a href="https://pinterest.com/dannyalright/pins/">Pinterest</a></li>
    <li><a href="https://linkedin.com/in/dannyalright/">LinkedIn</a></li>
  </ul>
</section>


<section class="one">
  <h2>Roster</h2>
  <ul>
    <li>Kickstarter</li>
    <li>ustwo</li>
    <li>Facebook</li>
    <li>AT&amp;T</li>
    <li>Google</li>
    <li>Nike</li>
    <li>GE</li>
    <li>NYC Mayors Office</li>
    <li>Commonwealth Bank</li>
  </ul>
</section>

<section class="three">
  <h2 id="portfolio--cv">Portfolio &amp; CV</h2>
  <p>I try to keep a running deck of what I’m working on at <a href="http://dannywhite.is/making">dannywhite.is/making</a>. You’ll need to request access before seeing its contents.</p>

  <p>See <a href="http://dannywhite.is/cv">dannywhite.is/cv</a> for a full CV. Same deal there with request-access.</p>
</section>

<section>
  <h2>Physical appearance</h2>
  <img src="/assets/posts/-about/danny-white.jpg" alt="">
</section>
