---
layout: default
---
<div class="grid">
  <h1 class="span-2">
    {{ site.description }}
  </h1>
</div>

<!-- <h2>Projects</h2> -->
<ul class="projects">
  {% for project in site.projects %}
  <li>
    <a class="grid" href="{{ project.url }}">
      <img class="span-2" src="assets/projects/{{ project.slug }}{{ project.featured_image | relative_url }}"
        alt="A photo from the {{ project.title }} project" />
      <div class="span-1">
        <h4>{{ project.client | escape }}</h4>
        <h3>{{ project.title | escape }}</h3>
      </div>
    </a>
  </li>
  {% endfor %}
  <!--   
  <li></li>
  <li><em>Begin static projects:</em></li>
  <li></li>
  <li>
    <a href="/projects/contextkit">ContextKit</a>
  </li>
  <li><a href="http://origami.design/tutorials/">Origami: Learn</a></li>
  <li>
    <a href="http://origami.design/examples/">Origami: Example Gallery</a>
  </li>
  <li>
    <a href="http://dannywhite.site/aussie-american">Aussie American</a>
  </li>
  <li>
    <a href="http://github.com/ustwo/branded-interactions"
      >Branded Interactions</a
    >
  </li> -->
</ul>