---
layout: compress
---
{% assign current = page.title | downcase %}

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% include head.html %}

<!-- p5.js -->
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
<script src="/assets/p5/orbit.js"></script>


<body class="orbit">
  <div id="canvas-container">
    <div class="overlay">
      <a href="#main">
        <p>Who?</p>
      </a>
     </div>
  </div>
  
  <main id="main">
      {{ content }}
  </main>
</body>
</html>