---
layout: default
---

<article>
  <div class="{{ page.image_arrangement }}">
    {% for item in page.top_images %}
    <img data-src="/assets/projects/{{ page.slug }}{{ item.name | relative_url }}" alt="{{ item.alt }}">
    {% endfor %}
  </div>

  <header>
    <div>
      <h1>{{ page.title | escape }}</h1>
      <h2>{{ page.story }}</h2>
    </div>

    <ul>
      <li>For: {{ page.client }}</li>
      <li>Date: <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%B %Y" %}
          {{ page.date | date: date_format }}
        </time></li>
      <li>Role: {{ page.role }}</li>
      <li>Locations: {{ page.locations }}</li>
      <li>Organisations: {{ page.organisations }}</li>
      <li>Collaborators: {{ page.collaborators }}</li>
      <li>Press: {{ page.press }}</li>
    </ul>
  </header>


  <section>
    {{ content }}
  </section>

  <section>
    <hr>

    <h2>Similar projects...</h2>
  </section>


</article>