---
layout: default
---

<article class="work">
  <header>
    <img data-src="https://ik.imagekit.io/dw/work/{{ page.slug }}/{{ page.featured_image }}" alt="An illustrative image from the {{ page.title | escape }} project">
    <section>
      <h1>{{ page.title | escape }}</h1>
      <p>{{ page.description }}</p>
      {% if page.links %}
      <p><a href="{{ page.links[0].url }}" target="_blank" rel="noopener noreferrer">See it live &#8594;</a></p>
      {% endif %}
    </section>

    <ul>
      {% if page.client %}
      <li>
        <h2>For</h2>
        <p>{{ page.client }}</p>
      </li>
      {% endif %}
      <li>
        <h2>When</h2>
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%B %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </p>
      </li>
      {% if page.roles %}
      <li>
        <h2>Roles</h2>
        <p>
            {% assign rolesArray = '' | split:':' %}
            {% for item in page.roles %}
            {% assign rolesArray = rolesArray | push: item %}
            {% endfor %}

            {{ rolesArray | array_to_sentence_string }}
        </p>
      </li>
      {% endif %}
      {% if page.collaborators %}
      <li>
        <h2>Collaborators</h2>
        <p>
            {% assign collaboratorsArray = '' | split:':' %}
            {% for item in page.collaborators %}
            {% assign collaboratorsArray = collaboratorsArray | push: item %}
            {% endfor %}
    
            {{ collaboratorsArray | array_to_sentence_string }}
        </p>
      </li>
      {% endif %}
    </ul>
  </header>

  <section>
    {{ content }}
  </section>

  {% if page.links %}
  <section>
    <h2>Links</h2>
    <ul class="press">
      {% for item in page.links %}
      <li>
        <p><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if page.press %}
  <section>
  <h2>Press</h2>
  <ul class="press">
    {% for item in page.press %}
    <li>
      <p><strong>{{ item.title }}</strong>
        <br><a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.outlet }}</a></p>
    </li>
    {% endfor %}
  </ul>
  </section>
  {% endif %}
  
</article>