---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "url": "https://dannywhite.org/",
    "feedUrl": "https://dannywhite.org/feed.xml",
    "feedIconUrl": "assets/images/favicon-32x32.png"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ metadata.url }}</link>
    <description>{{ site.subtitle }}</description>
    <language>en</language>
    {%- for post in collections.blog | reverse %}
        {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
        <item>
            <title>{{ post.data.title }}</title>
            <link>{{ absolutePostUrl }}</link>
            <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
            <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
            <dc:creator>{{ site.title }}</dc:creator>
            <guid>{{ absolutePostUrl }}</guid>
        </item>
    {%- endfor %}
  </channel>
</rss>
