---
permalink: "feed.xml"
eleventyExcludeFromCollections: true
---
{#- Save without formatting as Prettier doesn't play nice with XML -#}
{#- Make sure to keep `-` in `{#-` and `{%-` Nunjucks comments and tags to trim whitespace -#}
<?xml version="1.0" encoding="utf-8"?>
{#- Served via RSS instead of Atom so iOS doesn't just link to raw XML -#}
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ site.url }}">
  <channel>
    <title>{{ site.title }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.subtitle }}</description>
    <language>en</language>
    {%- for note in collections.note | reverse -%}
      {%- set absoluteUrl -%}{{ note.url | url | absoluteUrl(url) }}{%- endset -%}
      <item>
        <title>{{ note.data.title }}</title>
        <link>{{ absoluteUrl }}</link>
        <description>{{ note.templateContent | htmlToAbsoluteUrls(absoluteUrl) }}</description>
        <pubDate>{{ note.date | dateToRfc822 }}</pubDate>
        <dc:creator>{{ site.title }}</dc:creator>
        <guid>{{ absoluteUrl }}</guid>
      </item>
    {%- endfor -%}
  </channel>
</rss>
