{# Macros to handle repetition #} {% macro renderMarquee(repeated) %} {# If it's
a repeated marquee, ARIA hide the whole thing #}
<div {% if repeated %}aria-hidden="true" {% endif %} class="marquee">
  {{ renderMarqueeInner() }} {% if repeated %} {{ renderMarqueeInner() }} {%
  else %} {# If it's not a repeated marquee, ARIA hide the inner repetition only
  #} {{ renderMarqueeInner(true) }} {% endif %}
</div>
{% endmacro %} {% macro renderMarqueeInner(repeated) %}
<ul {% if repeated %}aria-hidden="true" {% endif %} class="marquee-content">
  {% for client in clients %}
  <li>
    <img
      src="/assets/images/clients/{{ client | slugify }}.png"
      alt="The logo for {{ client }}"
    />
    {{ client }}
  </li>
  {% endfor %}
</ul>
{% endmacro %} {# Begin actual markup... #}
<div class="client-roll">
  {{ renderMarquee() }} {{ renderMarquee(true) }} {{ renderMarquee(true) }} {{
  renderMarquee(true) }}
</div>
{# Begin commented-out plain markup of marquees for reference, which is
sliced-and-diced above...

<div class="marquee">
  <ul class="marquee-content">
    {% for client in clients %}
    <li>
      <img
        src="/assets/img/clients/{{ client | slugify }}.png"
        alt="The logo for {{ client }}"
      />
      {{ client }}
    </li>
    {% endfor %}
  </ul>
  <ul aria-hidden="true" class="marquee-content">
    {% for client in clients %}
    <li>
      <img
        src="/assets/img/clients/{{ client | slugify }}.png"
        alt="The logo for {{ client }}"
      />
      {{ client }}
    </li>
    {% endfor %}
  </ul>
</div>
#}
