{# Email link with "Email" link text #} {# https://www.email-encoder.com #}
<script type="text/javascript">
  for (
    var pzjtfs = [
        "bg",
        "eQ",
        "bg",
        "cg",
        "YQ",
        "bA",
        "dA",
        "Og",
        "bQ",
        "bQ",
        "Lg",
        "aQ",
        "Pg",
        "YQ",
        "Ig",
        "YQ",
        "aQ",
        "PA",
        "PQ",
        "Pg",
        "ZQ",
        "ZQ",
        "bg",
        "IA",
        "aA",
        "Ig",
        "aQ",
        "Lw",
        "Zg",
        "dw",
        "ZQ",
        "RQ",
        "QA",
        "aA",
        "aQ",
        "bw",
        "aA",
        "YQ",
        "dA",
        "dA",
        "bA",
        "PA",
        "ZA",
        "YQ",
      ],
      ryemhr = [
        21, 23, 22, 4, 37, 12, 32, 15, 36, 9, 29, 26, 34, 1, 33, 10, 38, 40, 7,
        43, 28, 5, 30, 2, 3, 8, 17, 41, 6, 24, 31, 35, 18, 25, 11, 14, 16, 20,
        13, 27, 39, 0, 19, 42,
      ],
      ppxggf = new Array(),
      i = 0;
    i < ryemhr.length;
    i++
  )
    ppxggf[ryemhr[i]] = pzjtfs[i];
  for (var i = 0; i < ppxggf.length; i++)
    document.write(atob(ppxggf[i] + "=="));
  // -->
</script>
{# Fallback to *no* email address if JavaScript is not enabled #}
<noscript> Email </noscript>
