<section class="here">
  <h2 class="small">Here</h2>
  <ul class="here">
    <li>
      <a href="/#skip">Index</a>
    </li>
    <li>
      <a href="/bits">Bits</a>
    </li>
    <li>
      <a href="/notes">Notes</a>
    </li>
    <li>
      <a href="/colophon">Colophon</a>
    </li>
  </ul>
</section>

<section class="there">
  <h2 class="small">There</h2>
  <ul class="plain">
    <li>
      <a href="/rss">RSS</a>
    </li>
    <li>{% include "partials/email.html" %}</li>
    {# Portfolio (turned-off) #}
    {# <li>
              <a class="outbound" href="{{ site.url }}/portfolio" target="_blank" rel="noopener">
                <span class="locked">Portfolio</span>
              </a>
            </li> #}
  </ul>
</section>
