<header>
  <section class="meta">
    <span class="small-text">☺ {% year %}</span>
    <div>
      <span class="small-text">Last updated {{ siteGeneratedDate }}</span>
      <span class="small-text"
        >∙ Edition
        <a
          class="edition-link"
          href="https://github.com/dnywh/dannywhite.org/commits/main"
          target="_blank"
          rel="noopener noreferrer"
          >{{ ISOSiteGeneratedDate }}</a
        ></span
      >
    </div>
  </section>

  <section class="strip">
    <a href="/" aria-label="Home">
      <span class="small-text">Danny White</span>
      {% include "partials/logo.svg" %}
    </a>
  </section>
</header>
