<footer>
  <a class="logo-link" href="/" aria-label="Home">
    {% include "partials/logo.svg" %}
  </a>

  <section class="co2">
    <p>
      This page weighs in at 10g CO<sub>2</sub>e<sup>*</sup>. That's about the
      same as growing a single carrot and driving it to a nearby supermarket.
      Sparse use of imagery, limited fonts, and other tricks help bring it down.
    </p>
    <p><sup>*</sup>as measured on June 15, 2022.</p>
  </section>

  <ul class="socials">
    <li>{% include "partials/email.html" %}</li>
    {% for social in socials %}
    <li>
      <a href="{{ social.url }}" target="_blank" rel="noopener noreferrer"
        >{{ social.platform }}</a
      >
    </li>
    {% endfor %}
  </ul>
</footer>
