<div class="sticky-wrapper" id="skip">
  <header class="site-header">
    <div class="left">
      <a href="/#skip" aria-label="Home"> {% include "partials/logo.svg" %}</a>
      {# Only show metadata on homepage #} {% if title === "Index" %}<span
        class="small"
        >☺ {% year %}</span
      >{% endif %}
    </div>
    {# Only show metadata on homepage #} {% if title === "Index" %}
    <span class="small">
      Last updated {{ siteGeneratedDate }} ∙ Edition
      <a href="{{ site.repoUrl }}/commits/main" target="_blank" rel="noopener"
        >{{ ISOSiteGeneratedDate }}</a
      >
    </span>
    {% endif %}
  </header>
</div>
