<footer>
  <div class="directory">
    <section class="controls">
      <div class="color-switch">
        <div role="status" class="visually-hidden js-mode-status"></div>
        <button
          aria-label="Toggle Colour Scheme"
          class="toggle-button js-mode-toggle"
        >
          <div class="side light">{% include "partials/sun.svg" %}</div>
          <div class="side dark">{% include "partials/moon.svg" %}</div>
        </button>
      </div>
      {% if title === "Index" %}
      <p>
        This site was handmade using the
        <a href="/colophon/#eleventy">Eleventy</a>
        static site generator. Loading it produced about
        <a href="/colophon/#carbon-footprint"
          >{{ site.footprint }} grams of CO<sub>2</sub>e</a
        >. Your visit, along with that of 81 others, will accumulate a carbon
        footprint similar to that of fully charging a phone.
      </p>
      {% else %} {# Show different text #}
      <p>
        You’ve reached the internet home of <a href="/">Danny White</a>, a
        freelance digital designer in Melbourne, Australia. I am available for
        new work starting {{ me.available }}. Like what you see?&#32;{% include
        "partials/email-lets-chat.html" %}.
      </p>
      {% endif %}
    </section>

    {% include "partials/here-there.html" %}
  </div>
</footer>
