{# List frequently used tags #}
{# https://lea.verou.me/blog/2023/11ty-indices/ #}
{# https://github.com/LeaVerou/lea.verou.me/blob/main/blog/tags-index.njk #}
    <ul class="tag-list"> <li>
        {# Show either the currently selected tag or, if on the root /notes page, 'Everything' #}
        <a {% if title === "Notes" or title === "Index" %} class="selected" {% endif %} href="/notes">Everything</a>
    </li>
    {% set minimumInstanceCount = 3 %}
    {# Show only tags that have been used a few times #}
    {% for loopedTag, notesWithTag in collections.notesByTag %}
        {% if notesWithTag.length > minimumInstanceCount %}
            <li>
                <a {% if loopedTag === tag %} class="selected" {% endif %} href="/notes/tagged/{{ loopedTag | slugify }}">{{ loopedTag }}</a>
            </li>
        {% else %}
            {# If I'm on a niche tag page (not already shown above in the 'popular' tag list), this tag should show here as selected #}
            {% if loopedTag === tag %}
                <li>
                    <a class="selected" href="/notes/tagged/{{ loopedTag | slugify }}">{{ loopedTag }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
